In [1]:
#import sqlite3
import psycopg2
import pandas as pd

In [2]:
pd.options.display.max_columns = None
#pd.options.display.max_rows = None

In [3]:
#conn = sqlite3.connect('parch-and-posey.db')
conn = psycopg2.connect("dbname=dvdrental user=postgres password=postgres1")

In [4]:
cursor = conn.cursor()
cursor.execute('''
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
''')
columns = [col[0] for col in cursor.description]
data = cursor.fetchall()
cursor.close()

In [5]:
pd.DataFrame(data, columns=columns)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,actor,postgres,None,True,False,True,False
1,public,store,postgres,None,True,False,True,False
2,public,address,postgres,None,True,False,True,False
3,public,category,postgres,None,True,False,True,False
4,public,city,postgres,None,True,False,True,False
5,public,country,postgres,None,True,False,True,False
6,public,customer,postgres,None,True,False,True,False
7,public,film_actor,postgres,None,True,False,True,False
8,public,film_category,postgres,None,True,False,True,False
9,public,inventory,postgres,None,True,False,True,False
10,public,language,postgres,None,True,False,True,False
11,public,rental,postgres,None,True,False,True,False
12,public,staff,postgres,None,True,False,True,False
13,public,payment,postgres,None,True,False,True,False
14,public,film,postgres,None,True,False,True,False

In [6]:
pd.read_sql_query(sql='''
SELECT * FROM actor;
''', con=conn)

     actor_id first_name     last_name             last_update
0           1   Penelope       Guiness 2013-05-26 14:47:57.620
1           2       Nick      Wahlberg 2013-05-26 14:47:57.620
2           3         Ed         Chase 2013-05-26 14:47:57.620
3           4   Jennifer         Davis 2013-05-26 14:47:57.620
4           5     Johnny  Lollobrigida 2013-05-26 14:47:57.620
..        ...        ...           ...                     ...
195       196       Bela        Walken 2013-05-26 14:47:57.620
196       197      Reese          West 2013-05-26 14:47:57.620
197       198       Mary        Keitel 2013-05-26 14:47:57.620
198       199      Julia       Fawcett 2013-05-26 14:47:57.620
199       200      Thora        Temple 2013-05-26 14:47:57.620

[200 rows x 4 columns]