In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('Simple_db.db')

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute(''' SELECT * FROM R ''')
columns = [c[0] for c in cursor.description]
data = cursor.fetchall()
r_df = pd.DataFrame(data, columns = columns)

In [5]:
cursor.execute(''' SELECT * FROM S ''')
columns = [c[0] for c in cursor.description]
data = cursor.fetchall()
s_df = pd.DataFrame(data, columns = columns)

In [6]:
cursor.execute('''
SELECT * FROM R
    EXCEPT
    SELECT * FROM S;
''')
columns = [c[0] for c in cursor.description]
data = cursor.fetchall()
data_df = pd.DataFrame(data, columns = columns)

In [7]:
conn.close()

In [8]:
r_df

   A1  A2  A3
0  v1  v2  v3
1  v4  v5  v6

In [9]:
s_df

   A1  A2  A3
0  v7  v8  v9
1  v1  v2  v3

SELECT * FROM R
    MINUS
    SELECT * FROM S;

In [10]:
data_df

   A1  A2  A3
0  v4  v5  v6