In [1]:
??? nevím jak funguje pro sqlite3, všude jsou příklady se sqlite3.connect

Object `? nevím jak funguje pro sqlite3, všude jsou příklady se sqlite3.connect` not found.

In [2]:
import sqlite3
import pandas as pd

In [3]:
conn =sqlite3.connect('parch-and-posey.db')

In [4]:
'''
CREATE TABLE web_events (
    id integer,
    account_id integer,
    occurred_at timestamp,
    channel bpchar
);'''

'\nCREATE TABLE web_events (\n    id integer,\n    account_id integer,\n    occurred_at timestamp,\n    channel bpchar\n);'

In [5]:
cursor = conn.cursor()
try:
    cursor.execute('''DROP TABLE web_events;''')
except Exception as e:
    print(e)
cursor.execute('''CREATE TABLE web_events (
    id integer,
    account_id integer,
    occurred_at timestamp,
    channel bpchar);''')
cursor.close()

In [6]:
'''
CREATE TABLE sales_reps (
    id integer,
    name bpchar,
    region_id integer
);'''

'\nCREATE TABLE sales_reps (\n    id integer,\n    name bpchar,\n    region_id integer\n);'

In [7]:
cursor = conn.cursor()
try:
    cursor.execute('''DROP TABLE sales_reps;''')
except Exception as e:
    print(e)
cursor.execute('''CREATE TABLE sales_reps (
    id integer,
    name bpchar,
    region_id integer
);''')
cursor.close()

In [8]:
'''
CREATE TABLE region (
    id integer,
    name bpchar
);
'''

'\nCREATE TABLE region (\n    id integer,\n    name bpchar\n);\n'

In [9]:
cursor = conn.cursor()
try:
    cursor.execute('''DROP TABLE region;''')
except Exception as e:
    print(e)
cursor.execute('''CREATE TABLE region (
    id integer,
    name bpchar
);''')
cursor.close()

In [10]:
'''
CREATE TABLE orders (
    id integer,
    account_id integer,
    occurred_at timestamp,
    standard_qty integer,
    gloss_qty integer,
    poster_qty integer,
    total integer,
    standard_amt_usd numeric(10,2),
    gloss_amt_usd numeric(10,2),
    poster_amt_usd numeric(10,2),
    total_amt_usd numeric(10,2)
);
'''

'\nCREATE TABLE orders (\n    id integer,\n    account_id integer,\n    occurred_at timestamp,\n    standard_qty integer,\n    gloss_qty integer,\n    poster_qty integer,\n    total integer,\n    standard_amt_usd numeric(10,2),\n    gloss_amt_usd numeric(10,2),\n    poster_amt_usd numeric(10,2),\n    total_amt_usd numeric(10,2)\n);\n'

In [11]:
cursor = conn.cursor()
try:
    cursor.execute('''DROP TABLE orders;''')
except Exception as e:
    print(e)
cursor.execute('''CREATE TABLE orders (
    id integer,
    account_id integer,
    occurred_at timestamp,
    standard_qty integer,
    gloss_qty integer,
    poster_qty integer,
    total integer,
    standard_amt_usd numeric(10,2),
    gloss_amt_usd numeric(10,2),
    poster_amt_usd numeric(10,2),
    total_amt_usd numeric(10,2)
);''')
cursor.close()

In [12]:
'''
CREATE TABLE accounts (
    id integer,
    name bpchar,
    website bpchar,
    lat numeric(11,8),
    long numeric(11,8),
    primary_poc bpchar,
    sales_rep_id integer
);'''

'\nCREATE TABLE accounts (\n    id integer,\n    name bpchar,\n    website bpchar,\n    lat numeric(11,8),\n    long numeric(11,8),\n    primary_poc bpchar,\n    sales_rep_id integer\n);'

In [13]:
cursor = conn.cursor()
try:
    cursor.execute('''DROP TABLE accounts;''')
except Exception as e:
    print(e)
cursor.execute('''CREATE TABLE accounts (
    id integer,
    name bpchar,
    website bpchar,
    lat numeric(11,8),
    long numeric(11,8),
    primary_poc bpchar,
    sales_rep_id integer
);''')
cursor.close()

In [21]:
cursor = conn.cursor()
cursor.execute("INSERT INTO web_events VALUES (1,1001,'2015-10-06 17:13:58','direct');")

In [22]:
cursor.execute("select * from web_events")
cursor.fetchall()

[(1, 1001, '2015-10-06 17:13:58', 'direct'),
 (1, 1001, '2015-10-06 17:13:58', 'direct'),
 (1, 1001, '2015-10-06 17:13:58', 'direct')]

In [23]:
conn.commit()
cursor.execute("select * from web_events")
cursor.fetchall()

[(1, 1001, '2015-10-06 17:13:58', 'direct'),
 (1, 1001, '2015-10-06 17:13:58', 'direct'),
 (1, 1001, '2015-10-06 17:13:58', 'direct')]

In [24]:
cursor.close()