In [1]:
??? nevím jak funguje pro sqlite3, všude jsou příklady se sqlite3.connect

Object `? nevím jak funguje pro sqlite3, všude jsou příklady se sqlite3.connect` not found.

In [2]:
import sqlite3
import pandas as pd

In [3]:
conn =sqlite3.connect('parch-and-posey.db')

In [4]:
'''
CREATE TABLE web_events (
    id integer,
    account_id integer,
    occurred_at timestamp,
    channel bpchar
);'''

'\nCREATE TABLE web_events (\n    id integer,\n    account_id integer,\n    occurred_at timestamp,\n    channel bpchar\n);'

In [5]:
cursor = conn.cursor()
try:
    cursor.execute('''DROP TABLE web_events;''')
except Exception as e:
    print(e)
cursor.execute('''CREATE TABLE web_events (
    id integer,
    account_id integer,
    occurred_at timestamp,
    channel bpchar);''')
cursor.close()

In [6]:
'''
CREATE TABLE sales_reps (
    id integer,
    name bpchar,
    region_id integer
);'''

'\nCREATE TABLE sales_reps (\n    id integer,\n    name bpchar,\n    region_id integer\n);'

In [7]:
cursor = conn.cursor()
try:
    cursor.execute('''DROP TABLE sales_reps;''')
except Exception as e:
    print(e)
cursor.execute('''CREATE TABLE sales_reps (
    id integer,
    name bpchar,
    region_id integer
);''')
cursor.close()

In [8]:
'''
CREATE TABLE region (
    id integer,
    name bpchar
);
'''

'\nCREATE TABLE region (\n    id integer,\n    name bpchar\n);\n'

In [9]:
cursor = conn.cursor()
try:
    cursor.execute('''DROP TABLE region;''')
except Exception as e:
    print(e)
cursor.execute('''CREATE TABLE region (
    id integer,
    name bpchar
);''')
cursor.close()

In [10]:
'''
CREATE TABLE orders (
    id integer,
    account_id integer,
    occurred_at timestamp,
    standard_qty integer,
    gloss_qty integer,
    poster_qty integer,
    total integer,
    standard_amt_usd numeric(10,2),
    gloss_amt_usd numeric(10,2),
    poster_amt_usd numeric(10,2),
    total_amt_usd numeric(10,2)
);
'''

'\nCREATE TABLE orders (\n    id integer,\n    account_id integer,\n    occurred_at timestamp,\n    standard_qty integer,\n    gloss_qty integer,\n    poster_qty integer,\n    total integer,\n    standard_amt_usd numeric(10,2),\n    gloss_amt_usd numeric(10,2),\n    poster_amt_usd numeric(10,2),\n    total_amt_usd numeric(10,2)\n);\n'

In [11]:
cursor = conn.cursor()
try:
    cursor.execute('''DROP TABLE orders;''')
except Exception as e:
    print(e)
cursor.execute('''CREATE TABLE orders (
    id integer,
    account_id integer,
    occurred_at timestamp,
    standard_qty integer,
    gloss_qty integer,
    poster_qty integer,
    total integer,
    standard_amt_usd numeric(10,2),
    gloss_amt_usd numeric(10,2),
    poster_amt_usd numeric(10,2),
    total_amt_usd numeric(10,2)
);''')
cursor.close()

In [12]:
'''
CREATE TABLE accounts (
    id integer,
    name bpchar,
    website bpchar,
    lat numeric(11,8),
    long numeric(11,8),
    primary_poc bpchar,
    sales_rep_id integer
);'''

'\nCREATE TABLE accounts (\n    id integer,\n    name bpchar,\n    website bpchar,\n    lat numeric(11,8),\n    long numeric(11,8),\n    primary_poc bpchar,\n    sales_rep_id integer\n);'

In [13]:
cursor = conn.cursor()
try:
    cursor.execute('''DROP TABLE accounts;''')
except Exception as e:
    print(e)
cursor.execute('''CREATE TABLE accounts (
    id integer,
    name bpchar,
    website bpchar,
    lat numeric(11,8),
    long numeric(11,8),
    primary_poc bpchar,
    sales_rep_id integer
);''')
cursor.close()

In [14]:
with open ('parch-and-posey_insert.sql') as f:
    data = f.read()

In [15]:
inserts = data.split('\n')

In [16]:
inserts

['',
 "INSERT INTO web_events VALUES (1,1001,'2015-10-06 17:13:58','direct');",
 "INSERT INTO web_events VALUES (2,1001,'2015-11-05 03:08:26','direct');",
 "INSERT INTO web_events VALUES (3,1001,'2015-12-04 03:57:24','direct');",
 "INSERT INTO web_events VALUES (4,1001,'2016-01-02 00:55:03','direct');",
 "INSERT INTO web_events VALUES (5,1001,'2016-02-01 19:02:33','direct');",
 "INSERT INTO web_events VALUES (6,1001,'2016-03-02 15:15:22','direct');",
 "INSERT INTO web_events VALUES (7,1001,'2016-04-01 10:58:55','direct');",
 "INSERT INTO web_events VALUES (8,1001,'2016-05-01 15:26:44','direct');",
 "INSERT INTO web_events VALUES (9,1001,'2016-05-31 20:53:47','direct');",
 "INSERT INTO web_events VALUES (10,1001,'2016-06-30 12:09:45','direct');",
 "INSERT INTO web_events VALUES (11,1001,'2016-07-30 03:06:26','direct');",
 "INSERT INTO web_events VALUES (12,1001,'2016-08-28 06:42:42','direct');",
 "INSERT INTO web_events VALUES (13,1001,'2016-09-26 23:14:59','direct');",
 "INSERT INTO web_events VALUES (14,1001,'2016-10-26 20:21:09','direct');",
 "INSERT INTO web_events VALUES (15,1001,'2016-11-25 22:52:29','direct');",
 "INSERT INTO web_events VALUES (16,1001,'2016-12-24 05:35:14','direct');",
 "INSERT INTO web_events VALUES (17,1011,'2016-12-21 10:29:36','direct');",
 "INSERT INTO web_events VALUES (18,1021,'2015-10-12 02:10:54','direct');",
 "INSERT INTO web_events VALUES (19,1021,'2015-11-11 07:10:19','direct');",
 "INSERT INTO web_events VALUES (20,1021,'2015-12-11 16:28:27','direct');",
 "INSERT INTO web_events VALUES (21,1021,'2016-01-10 09:04:12','direct');",
 "INSERT INTO web_events VALUES (22,1021,'2016-02-09 00:46:47','direct');",
 "INSERT INTO web_events VALUES (23,1021,'2016-03-10 00:11:03','direct');",
 "INSERT INTO web_events VALUES (24,1031,'2016-12-25 03:51:33','direct');",
 "INSERT INTO web_events VALUES (25,1041,'2016-10-14 23:40:23','direct');",
 "INSERT INTO web_events VALUES (26,1041,'2016-11-13 09:43:28','direct');",
 "INSERT INTO web_events VALUES (27,1041,'2016-12-12 07:31:09','direct');",
 "INSERT INTO web_events VALUES (28,1051,'2016-08-02 19:48:31','direct');",
 "INSERT INTO web_events VALUES (29,1051,'2016-09-01 05:27:20','direct');",
 "INSERT INTO web_events VALUES (30,1051,'2016-10-01 00:17:52','direct');",
 "INSERT INTO web_events VALUES (31,1051,'2016-10-31 06:44:01','direct');",
 "INSERT INTO web_events VALUES (32,1051,'2016-11-30 07:18:22','direct');",
 "INSERT INTO web_events VALUES (33,1051,'2016-12-30 08:42:44','direct');",
 "INSERT INTO web_events VALUES (34,1061,'2016-10-19 15:42:16','direct');",
 "INSERT INTO web_events VALUES (35,1061,'2016-11-17 08:33:51','direct');",
 "INSERT INTO web_events VALUES (36,1061,'2016-12-16 21:18:17','direct');",
 "INSERT INTO web_events VALUES (37,1071,'2016-12-13 08:45:32','direct');",
 "INSERT INTO web_events VALUES (38,1081,'2015-02-12 22:34:21','direct');",
 "INSERT INTO web_events VALUES (39,1081,'2015-03-13 09:24:50','direct');",
 "INSERT INTO web_events VALUES (40,1081,'2015-04-12 04:19:43','direct');",
 "INSERT INTO web_events VALUES (41,1081,'2015-05-12 22:51:04','direct');",
 "INSERT INTO web_events VALUES (42,1081,'2015-06-11 13:41:31','direct');",
 "INSERT INTO web_events VALUES (43,1081,'2015-07-11 23:08:50','direct');",
 "INSERT INTO web_events VALUES (44,1081,'2015-08-09 18:23:43','direct');",
 "INSERT INTO web_events VALUES (45,1081,'2015-09-07 15:09:39','direct');",
 "INSERT INTO web_events VALUES (46,1081,'2015-10-07 06:12:38','direct');",
 "INSERT INTO web_events VALUES (47,1081,'2015-11-06 04:00:27','direct');",
 "INSERT INTO web_events VALUES (48,1081,'2015-12-05 21:37:52','direct');",
 "INSERT INTO web_events VALUES (49,1081,'2016-01-03 23:17:07','direct');",
 "INSERT INTO web_events VALUES (50,1081,'2016-02-01 19:35:04','direct');",
 "INSERT INTO web_events VALUES (51,1081,'2016-03-02 05:45:34','direct');",
 "INSERT INTO web_events VALUES (52,1081,'2016-04-01 08:17:57','direct');",
 "INSERT INTO web_events VALUES (53,1081,'2016-04-30 07:21:17','direct');",
 "INSERT INTO web_events VALUES (54,1081,'2016-05-30 04:01:01','direct');",
 "INSERT INTO web_events VALUES (55,1081,'2016-06-28 06:01:33','direct');",
 "INSERT INTO web_events VALUES (56,1081,'2016-07-28 22:20:49','direct');",
 "INSERT INTO web_events VALUES (57,1081,'2016-08-26 16:32:33','direct');",
 "INSERT INTO web_events VALUES (58,1081,'2016-09-24 09:33:56','direct');",
 "INSERT INTO web_events VALUES (59,1081,'2016-10-24 21:38:12','direct');",
 "INSERT INTO web_events VALUES (60,1081,'2016-11-23 04:22:51','direct');",
 "INSERT INTO web_events VALUES (61,1081,'2016-12-23 13:01:50','direct');",
 "INSERT INTO web_events VALUES (62,1091,'2014-08-15 05:21:56','direct');",
 "INSERT INTO web_events VALUES (63,1091,'2014-09-13 04:50:00','direct');",
 "INSERT INTO web_events VALUES (64,1091,'2014-10-13 12:10:21','direct');",
 "INSERT INTO web_events VALUES (65,1091,'2014-11-12 06:24:29','direct');",
 "INSERT INTO web_events VALUES (66,1091,'2014-12-11 10:20:16','direct');",
 "INSERT INTO web_events VALUES (67,1091,'2015-01-09 14:02:52','direct');",
 "INSERT INTO web_events VALUES (68,1091,'2015-02-08 09:32:27','direct');",
 "INSERT INTO web_events VALUES (69,1091,'2015-03-09 06:10:05','direct');",
 "INSERT INTO web_events VALUES (70,1091,'2015-04-07 13:16:25','direct');",
 "INSERT INTO web_events VALUES (71,1091,'2015-05-06 03:31:37','direct');",
 "INSERT INTO web_events VALUES (72,1091,'2015-06-05 18:54:09','direct');",
 "INSERT INTO web_events VALUES (73,1091,'2015-07-05 02:21:31','direct');",
 "INSERT INTO web_events VALUES (74,1091,'2015-08-03 11:32:26','direct');",
 "INSERT INTO web_events VALUES (75,1091,'2015-09-01 14:20:35','direct');",
 "INSERT INTO web_events VALUES (76,1091,'2015-10-01 15:25:43','direct');",
 "INSERT INTO web_events VALUES (77,1091,'2015-10-31 15:42:27','direct');",
 "INSERT INTO web_events VALUES (78,1091,'2015-11-29 21:06:26','direct');",
 "INSERT INTO web_events VALUES (79,1091,'2015-12-28 18:21:01','direct');",
 "INSERT INTO web_events VALUES (80,1091,'2016-01-26 06:20:09','direct');",
 "INSERT INTO web_events VALUES (81,1091,'2016-02-25 06:34:38','direct');",
 "INSERT INTO web_events VALUES (82,1091,'2016-03-25 22:13:55','direct');",
 "INSERT INTO web_events VALUES (83,1091,'2016-04-24 07:07:19','direct');",
 "INSERT INTO web_events VALUES (84,1091,'2016-05-23 07:18:02','direct');",
 "INSERT INTO web_events VALUES (85,1091,'2016-06-22 00:59:21','direct');",
 "INSERT INTO web_events VALUES (86,1091,'2016-07-21 18:39:18','direct');",
 "INSERT INTO web_events VALUES (87,1091,'2016-08-20 04:28:31','direct');",
 "INSERT INTO web_events VALUES (88,1091,'2016-09-18 20:49:42','direct');",
 "INSERT INTO web_events VALUES (89,1091,'2016-10-17 13:05:15','direct');",
 "INSERT INTO web_events VALUES (90,1091,'2016-11-15 18:04:09','direct');",
 "INSERT INTO web_events VALUES (91,1091,'2016-12-14 20:56:25','direct');",
 "INSERT INTO web_events VALUES (92,1101,'2015-06-24 12:50:27','direct');",
 "INSERT INTO web_events VALUES (93,1101,'2015-07-24 17:44:12','direct');",
 "INSERT INTO web_events VALUES (94,1101,'2015-08-22 19:17:13','direct');",
 "INSERT INTO web_events VALUES (95,1101,'2015-09-21 05:09:36','direct');",
 "INSERT INTO web_events VALUES (96,1101,'2015-10-21 16:16:43','direct');",
 "INSERT INTO web_events VALUES (97,1101,'2015-11-20 23:46:18','direct');",
 "INSERT INTO web_events VALUES (98,1101,'2015-12-19 18:29:44','direct');",
 "INSERT INTO web_events VALUES (99,1101,'2016-01-17 14:28:00','direct');",
 "INSERT INTO web_events VALUES (100,1101,'2016-02-15 07:42:32','direct');",
 "INSERT INTO web_events VALUES (101,1101,'2016-03-15 11:12:11','direct');",
 "INSERT INTO web_events VALUES (102,1101,'2016-04-13 23:47:47','direct');",
 "INSERT INTO web_events VALUES (103,1101,'2016-05-13 01:59:50','direct');",
 "INSERT INTO web_events VALUES (104,1101,'2016-06-12 12:25:51','direct');",
 "INSERT INTO web_events VALUES (105,1111,'2015-11-15 17:29:17','direct');",
 "INSERT INTO web_events VALUES (106,1111,'2015-12-15 21:57:08','direct');",
 "INSERT INTO web_events VALUES (107,1121,'2015-08-26 00:31:17','direct');",
 "INSERT INTO web_events VALUES (108,1121,'2015-09-25 13:51:50','direct');",
 "INSERT INTO web_events VALUES (109,1121,'2015-10-24 15:26:00','direct');",
 "INSERT INTO web_events VALUES (110,1121,'2015-11-22 17:24:28','direct');",
 "INSERT INTO web_events VALUES (111,1121,'2015-12-21 00:53:55','direct');",
 "INSERT INTO web_events VALUES (112,1121,'2016-01-20 15:14:22','direct');",
 "INSERT INTO web_events VALUES (113,1121,'2016-02-19 17:45:15','direct');",
 "INSERT INTO web_events VALUES (114,1121,'2016-03-19 07:15:57','direct');",
 "INSERT INTO web_events VALUES (115,1121,'2016-04-18 15:19:59','direct');",
 "INSERT INTO web_events VALUES (116,1121,'2016-05-17 13:08:34','direct');",
 "INSERT INTO web_events VALUES (117,1121,'2016-06-16 21:54:08','direct');",
 "INSERT INTO web_events VALUES (118,1121,'2016-07-15 03:22:59','direct');",
 "INSERT INTO web_events VALUES (119,1121,'2016-08-13 20:27:33','direct');",
 "INSERT INTO web_events VALUES (120,1121,'2016-09-11 22:54:21','direct');",
 "INSERT INTO web_events VALUES (121,1121,'2016-10-10 10:32:06','direct');",
 "INSERT INTO web_events VALUES (122,1121,'2016-11-08 02:28:45','direct');",
 "INSERT INTO web_events VALUES (123,1121,'2016-12-07 18:30:17','direct');",
 "INSERT INTO web_events VALUES (124,1131,'2016-05-13 06:37:09','direct');",
 "INSERT INTO web_events VALUES (125,1131,'2016-06-12 12:22:12','direct');",
 "INSERT INTO web_events VALUES (126,1131,'2016-07-11 23:51:17','direct');",
 "INSERT INTO web_events VALUES (127,1131,'2016-08-10 23:45:07','direct');",
 "INSERT INTO web_events VALUES (128,1131,'2016-09-09 16:42:29','direct');",
 "INSERT INTO web_events VALUES (129,1131,'2016-10-09 14:54:48','direct');",
 "INSERT INTO web_events VALUES (130,1131,'2016-11-07 04:55:33','direct');",
 "INSERT INTO web_events VALUES (131,1131,'2016-12-07 06:14:50','direct');",
 "INSERT INTO web_events VALUES (132,1141,'2016-09-24 03:05:59','direct');",
 "INSERT INTO web_events VALUES (133,1141,'2016-10-23 20:17:13','direct');",
 "INSERT INTO web_events VALUES (134,1141,'2016-11-22 20:35:48','direct');",
 "INSERT INTO web_events VALUES (135,1141,'2016-12-21 15:46:23','direct');",
 "INSERT INTO web_events VALUES (136,1151,'2016-12-30 04:31:50','direct');",
 "INSERT INTO web_events VALUES (137,1161,'2016-03-06 02:51:21','direct');",
 "INSERT INTO web_events VALUES (138,1161,'2016-04-05 21:34:46','direct');",
 "INSERT INTO web_events VALUES (139,1161,'2016-05-05 09:51:29','direct');",
 "INSERT INTO web_events VALUES (140,1161,'2016-06-04 08:56:13','direct');",
 "INSERT INTO web_events VALUES (141,1161,'2016-07-03 10:12:24','direct');",
 "INSERT INTO web_events VALUES (142,1161,'2016-08-01 17:32:47','direct');",
 "INSERT INTO web_events VALUES (143,1161,'2016-08-31 03:03:42','direct');",
 "INSERT INTO web_events VALUES (144,1161,'2016-09-29 07:40:17','direct');",
 "INSERT INTO web_events VALUES (145,1161,'2016-10-28 07:06:27','direct');",
 "INSERT INTO web_events VALUES (146,1161,'2016-11-26 12:47:01','direct');",
 "INSERT INTO web_events VALUES (147,1161,'2016-12-25 20:19:48','direct');",
 "INSERT INTO web_events VALUES (148,1171,'2016-08-24 20:21:20','direct');",
 "INSERT INTO web_events VALUES (149,1171,'2016-09-23 03:16:51','direct');",
 "INSERT INTO web_events VALUES (150,1171,'2016-10-22 17:44:31','direct');",
 "INSERT INTO web_events VALUES (151,1171,'2016-11-20 03:42:30','direct');",
 "INSERT INTO web_events VALUES (152,1171,'2016-12-20 18:00:34','direct');",
 "INSERT INTO web_events VALUES (153,1181,'2013-12-17 22:46:54','direct');",
 "INSERT INTO web_events VALUES (154,1181,'2014-01-16 12:14:22','direct');",
 "INSERT INTO web_events VALUES (155,1181,'2014-02-14 08:25:20','direct');",
 "INSERT INTO web_events VALUES (156,1181,'2014-03-16 04:28:46','direct');",
 "INSERT INTO web_events VALUES (157,1181,'2014-04-14 13:42:38','direct');",
 "INSERT INTO web_events VALUES (158,1181,'2014-05-14 05:23:01','direct');",
 "INSERT INTO web_events VALUES (159,1181,'2014-06-13 09:21:27','direct');",
 "INSERT INTO web_events VALUES (160,1181,'2014-07-13 15:16:23','direct');",
 "INSERT INTO web_events VALUES (161,1181,'2014-08-12 04:49:42','direct');",
 "INSERT INTO web_events VALUES (162,1181,'2014-09-10 19:05:00','direct');",
 "INSERT INTO web_events VALUES (163,1181,'2014-10-10 14:06:31','direct');",
 "INSERT INTO web_events VALUES (164,1181,'2014-11-09 21:36:20','direct');",
 "INSERT INTO web_events VALUES (165,1181,'2014-12-09 12:34:35','direct');",
 "INSERT INTO web_events VALUES (166,1181,'2015-01-08 06:56:59','direct');",
 "INSERT INTO web_events VALUES (167,1181,'2015-02-06 13:17:17','direct');",
 "INSERT INTO web_events VALUES (168,1181,'2015-03-08 06:03:51','direct');",
 "INSERT INTO web_events VALUES (169,1181,'2015-04-06 03:07:49','direct');",
 "INSERT INTO web_events VALUES (170,1181,'2015-05-06 13:25:32','direct');",
 "INSERT INTO web_events VALUES (171,1181,'2015-06-05 17:13:06','direct');",
 "INSERT INTO web_events VALUES (172,1181,'2015-07-04 20:45:36','direct');",
 "INSERT INTO web_events VALUES (173,1181,'2015-08-03 17:39:43','direct');",
 "INSERT INTO web_events VALUES (174,1181,'2015-09-01 08:50:27','direct');",
 "INSERT INTO web_events VALUES (175,1181,'2015-10-01 22:38:33','direct');",
 "INSERT INTO web_events VALUES (176,1181,'2015-10-31 08:42:52','direct');",
 "INSERT INTO web_events VALUES (177,1181,'2015-11-29 05:41:02','direct');",
 "INSERT INTO web_events VALUES (178,1181,'2015-12-28 11:09:56','direct');",
 "INSERT INTO web_events VALUES (179,1181,'2016-01-26 19:33:46','direct');",
 "INSERT INTO web_events VALUES (180,1181,'2016-02-25 17:02:56','direct');",
 "INSERT INTO web_events VALUES (181,1181,'2016-03-25 19:13:15','direct');",
 "INSERT INTO web_events VALUES (182,1181,'2016-04-24 16:35:36','direct');",
 "INSERT INTO web_events VALUES (183,1181,'2016-05-23 02:37:37','direct');",
 "INSERT INTO web_events VALUES (184,1181,'2016-06-22 05:21:09','direct');",
 "INSERT INTO web_events VALUES (185,1181,'2016-07-21 14:39:32','direct');",
 "INSERT INTO web_events VALUES (186,1181,'2016-08-19 22:21:09','direct');",
 "INSERT INTO web_events VALUES (187,1181,'2016-09-18 08:58:13','direct');",
 "INSERT INTO web_events VALUES (188,1181,'2016-10-18 09:36:08','direct');",
 "INSERT INTO web_events VALUES (189,1181,'2016-11-17 08:54:11','direct');",
 "INSERT INTO web_events VALUES (190,1181,'2016-12-17 21:55:03','direct');",
 "INSERT INTO web_events VALUES (191,1191,'2016-01-24 19:27:29','direct');",
 "INSERT INTO web_events VALUES (192,1191,'2016-02-23 10:10:54','direct');",
 "INSERT INTO web_events VALUES (193,1191,'2016-03-23 21:14:33','direct');",
 "INSERT INTO web_events VALUES (194,1191,'2016-04-22 02:48:25','direct');",
 "INSERT INTO web_events VALUES (195,1191,'2016-05-21 23:08:54','direct');",
 "INSERT INTO web_events VALUES (196,1191,'2016-06-20 21:11:15','direct');",
 "INSERT INTO web_events VALUES (197,1191,'2016-07-19 07:10:19','direct');",
 "INSERT INTO web_events VALUES (198,1191,'2016-08-18 16:02:29','direct');",
 "INSERT INTO web_events VALUES (199,1191,'2016-09-17 05:08:25','direct');",
 "INSERT INTO web_events VALUES (200,1191,'2016-10-16 19:03:26','direct');",
 "INSERT INTO web_events VALUES (201,1191,'2016-11-15 20:16:21','direct');",
 "INSERT INTO web_events VALUES (202,1191,'2016-12-15 20:19:47','direct');",
 "INSERT INTO web_events VALUES (203,1201,'2016-11-12 11:28:50','direct');",
 "INSERT INTO web_events VALUES (204,1201,'2016-12-11 05:36:36','direct');",
 "INSERT INTO web_events VALUES (205,1211,'2016-11-22 07:40:48','direct');",
 "INSERT INTO web_events VALUES (206,1211,'2016-12-21 23:18:36','direct');",
 "INSERT INTO web_events VALUES (207,1221,'2015-01-20 10:27:15','direct');",
 "INSERT INTO web_events VALUES (208,1221,'2015-02-18 15:26:53','direct');",
 "INSERT INTO web_events VALUES (209,1221,'2015-03-19 12:12:00','direct');",
 "INSERT INTO web_events VALUES (210,1221,'2015-04-17 11:27:17','direct');",
 "INSERT INTO web_events VALUES (211,1221,'2015-05-16 19:33:22','direct');",
 "INSERT INTO web_events VALUES (212,1221,'2015-06-15 08:11:12','direct');",
 "INSERT INTO web_events VALUES (213,1221,'2015-07-15 07:12:07','direct');",
 "INSERT INTO web_events VALUES (214,1221,'2015-08-14 09:40:52','direct');",
 "INSERT INTO web_events VALUES (215,1221,'2015-09-12 17:31:15','direct');",
 "INSERT INTO web_events VALUES (216,1221,'2015-10-11 13:06:10','direct');",
 "INSERT INTO web_events VALUES (217,1221,'2015-11-09 23:23:27','direct');",
 "INSERT INTO web_events VALUES (218,1221,'2015-12-08 16:32:01','direct');",
 "INSERT INTO web_events VALUES (219,1221,'2016-01-06 20:37:28','direct');",
 "INSERT INTO web_events VALUES (220,1221,'2016-02-04 20:02:52','direct');",
 "INSERT INTO web_events VALUES (221,1221,'2016-03-04 19:36:45','direct');",
 "INSERT INTO web_events VALUES (222,1221,'2016-04-03 19:06:52','direct');",
 "INSERT INTO web_events VALUES (223,1221,'2016-05-03 07:10:37','direct');",
 "INSERT INTO web_events VALUES (224,1221,'2016-06-01 21:28:50','direct');",
 "INSERT INTO web_events VALUES (225,1221,'2016-06-30 14:59:10','direct');",
 "INSERT INTO web_events VALUES (226,1221,'2016-07-29 22:44:37','direct');",
 "INSERT INTO web_events VALUES (227,1221,'2016-08-27 07:44:44','direct');",
 "INSERT INTO web_events VALUES (228,1221,'2016-09-26 18:06:43','direct');",
 "INSERT INTO web_events VALUES (229,1221,'2016-10-26 08:20:10','direct');",
 "INSERT INTO web_events VALUES (230,1221,'2016-11-25 07:58:21','direct');",
 "INSERT INTO web_events VALUES (231,1221,'2016-12-24 20:56:51','direct');",
 "INSERT INTO web_events VALUES (232,1231,'2016-02-26 03:06:10','direct');",
 "INSERT INTO web_events VALUES (233,1231,'2016-03-27 11:28:17','direct');",
 "INSERT INTO web_events VALUES (234,1231,'2016-04-26 16:58:23','direct');",
 "INSERT INTO web_events VALUES (235,1231,'2016-05-26 17:12:43','direct');",
 "INSERT INTO web_events VALUES (236,1231,'2016-06-25 12:21:04','direct');",
 "INSERT INTO web_events VALUES (237,1231,'2016-07-24 06:09:57','direct');",
 "INSERT INTO web_events VALUES (238,1231,'2016-08-23 15:21:38','direct');",
 "INSERT INTO web_events VALUES (239,1231,'2016-09-22 23:40:05','direct');",
 "INSERT INTO web_events VALUES (240,1231,'2016-10-21 22:50:17','direct');",
 "INSERT INTO web_events VALUES (241,1231,'2016-11-20 15:03:48','direct');",
 "INSERT INTO web_events VALUES (242,1231,'2016-12-20 13:52:13','direct');",
 "INSERT INTO web_events VALUES (243,1241,'2016-06-14 10:54:31','direct');",
 "INSERT INTO web_events VALUES (244,1241,'2016-07-13 12:55:39','direct');",
 "INSERT INTO web_events VALUES (245,1241,'2016-08-11 02:35:12','direct');",
 "INSERT INTO web_events VALUES (246,1241,'2016-09-09 17:48:36','direct');",
 "INSERT INTO web_events VALUES (247,1241,'2016-10-08 11:00:10','direct');",
 "INSERT INTO web_events VALUES (248,1241,'2016-11-07 06:21:19','direct');",
 "INSERT INTO web_events VALUES (249,1241,'2016-12-06 15:00:10','direct');",
 "INSERT INTO web_events VALUES (250,1251,'2013-12-11 20:17:01','direct');",
 "INSERT INTO web_events VALUES (251,1251,'2014-01-09 04:25:01','direct');",
 "INSERT INTO web_events VALUES (252,1251,'2014-02-07 20:47:16','direct');",
 "INSERT INTO web_events VALUES (253,1251,'2014-03-08 06:14:06','direct');",
 "INSERT INTO web_events VALUES (254,1251,'2014-04-07 10:30:19','direct');",
 "INSERT INTO web_events VALUES (255,1251,'2014-05-07 21:06:09','direct');",
 "INSERT INTO web_events VALUES (256,1251,'2014-06-06 15:42:18','direct');",
 "INSERT INTO web_events VALUES (257,1251,'2014-07-05 04:03:05','direct');",
 "INSERT INTO web_events VALUES (258,1251,'2014-08-04 19:28:13','direct');",
 "INSERT INTO web_events VALUES (259,1251,'2014-09-03 12:21:39','direct');",
 "INSERT INTO web_events VALUES (260,1251,'2014-10-02 23:05:36','direct');",
 "INSERT INTO web_events VALUES (261,1251,'2014-11-01 02:08:04','direct');",

In [17]:
%%timeit -n1 -r1
cursor = conn.cursor()
for ins in inserts:
    if ins != '':
        #print(ins)
        cursor.execute(ins)
        conn.commit()
cursor.close()

1min 43s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)