In [1]:
import sqlite3
import pandas as pd

In [2]:
pd.options.display.max_columns = None
#pd.options.display.max_rows = None

In [3]:
conn = sqlite3.connect('sf_crime_data.db')

In [4]:
cursor = conn.cursor()
cursor.execute('''
select * from sqlite_master where type = "table";
''')
columns = [col[0] for col in cursor.description]
data = cursor.fetchall()
cursor.close()

In [5]:
pd.DataFrame(data, columns=columns)

,type,name,tbl_name,rootpage,sql
0,table,sf_crime_data,sf_crime_data,2,"CREATE TABLE ""sf_crime_data"" (\n""index"" INTEGE..."

Task 1:

Write a query to look at the top 10 rows to understand the columns and the raw data in the dataset called sf_crime_data.

In [6]:
# sqlite version SELECT CAST(b AS INT) + 2 AS alias FROM A

pd.read_sql_query(sql='''
SELECT * FROM sf_crime_data;
''', con=conn)

,index,incidnt_num,category,descript,day_of_week,date,time,pd_district,resolution,address,lon,lat,location,id
0,0,140099416.0,VEHICLE THEFT,STOLEN AND RECOVERED VEHICLE,Friday,01/31/2014 08:00:00 AM +0000,17:00,INGLESIDE,NONE,0 Block of GARRISON AV,-122.413624,37.709726,"(37.709725805163, -122.413623946206)",1
1,1,140092426.0,ASSAULT,BATTERY,Friday,01/31/2014 08:00:00 AM +0000,17:45,TARAVAL,"ARREST, CITED",100 Block of FONT BL,-122.473706,37.715488,"(37.7154876086057, -122.47370623066)",2
2,2,140092410.0,SUSPICIOUS OCC,SUSPICIOUS OCCURRENCE,Friday,01/31/2014 08:00:00 AM +0000,15:30,PARK,NONE,0 Block of CASTRO ST,-122.435719,37.768689,"(37.7686887134351, -122.435718550322)",3
3,3,140092341.0,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Friday,01/31/2014 08:00:00 AM +0000,17:50,CENTRAL,"ARREST, CITED",JEFFERSON ST / POWELL ST,-122.412527,37.808625,"(37.8086250595467, -122.412527239682)",4
4,4,140092573.0,DRUG/NARCOTIC,POSSESSION OF NARCOTICS PARAPHERNALIA,Friday,01/31/2014 08:00:00 AM +0000,19:20,SOUTHERN,"ARREST, BOOKED",0 Block of GRACE ST,-122.414634,37.775081,"(37.7750814399634, -122.414633686589)",5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30395,30395,130926374.0,PROSTITUTION,INDECENT EXPOSURE - PROSTITUTION RELATED,Friday,11/01/2013 07:00:00 AM +0000,00:15,MISSION,"ARREST, CITED",1300 Block of VERMONT ST,-122.403449,37.753156,"(37.7531563892388, -122.403449353323)",30396
30396,30396,130965134.0,OTHER OFFENSES,FAILURE TO REGISTER AS SEX OFFENDER,Friday,11/01/2013 07:00:00 AM +0000,00:01,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403675,37.775178,"(37.7751775060199, -122.403675173997)",30397
30397,30397,136206623.0,LARCENY/THEFT,GRAND THEFT FROM UNLOCKED AUTO,Friday,11/01/2013 07:00:00 AM +0000,19:00,RICHMOND,NONE,CLAY ST / PIERCE ST,-122.437496,37.790291,"(37.7902911486821, -122.437496299842)",30398
30398,30398,130930193.0,VEHICLE THEFT,STOLEN TRUCK,Friday,11/01/2013 07:00:00 AM +0000,19:00,BAYVIEW,"ARREST, BOOKED",600 Block of AMADOR ST,-122.384593,37.745910,"(37.745909734852, -122.384592828821)",30399
30399,30399,130930193.0,BURGLARY,"BURGLARY OF STORE, FORCIBLE ENTRY",Friday,11/01/2013 07:00:00 AM +0000,19:00,BAYVIEW,"ARREST, BOOKED",600 Block of AMADOR ST,-122.384593,37.745910,"(37.745909734852, -122.384592828821)",30400

Task 2:

Do quiz on dates: the correct format is yyyy-mm-dd.

Task 3:

Look at the date column in sf_crime_data table. Notice the date is not in correct format.

Task 4:

Write a query to change the date to the correct SQL date format. You will need to use at least SUBSTR and CONCAT to perform this operation.

In [7]:
# sqlite version SELECT CAST(b AS INT) + 2 AS alias FROM A

pd.read_sql_query(sql='''
WITH t1 AS 
(SELECT [index] indx, SUBSTR(date,1,INSTR(date,'/')-1) month,
SUBSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), 1, INSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), '/')-1) day,
SUBSTR(SUBSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), INSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), '/')+1, LENGTH(date)-INSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), '/')), 1, INSTR(SUBSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), INSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), '/')+1, LENGTH(date)-INSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), '/')), ' ')-1) year 

FROM sf_crime_data)

SELECT s.*, t1.year || '-' || t1.month || '-' || t1.day cdate
FROM t1
JOIN sf_crime_data s
ON t1.indx = s.[index];
''', con=conn)

,index,incidnt_num,category,descript,day_of_week,date,time,pd_district,resolution,address,lon,lat,location,id,cdate
0,0,140099416.0,VEHICLE THEFT,STOLEN AND RECOVERED VEHICLE,Friday,01/31/2014 08:00:00 AM +0000,17:00,INGLESIDE,NONE,0 Block of GARRISON AV,-122.413624,37.709726,"(37.709725805163, -122.413623946206)",1,2014-01-31
1,1,140092426.0,ASSAULT,BATTERY,Friday,01/31/2014 08:00:00 AM +0000,17:45,TARAVAL,"ARREST, CITED",100 Block of FONT BL,-122.473706,37.715488,"(37.7154876086057, -122.47370623066)",2,2014-01-31
2,2,140092410.0,SUSPICIOUS OCC,SUSPICIOUS OCCURRENCE,Friday,01/31/2014 08:00:00 AM +0000,15:30,PARK,NONE,0 Block of CASTRO ST,-122.435719,37.768689,"(37.7686887134351, -122.435718550322)",3,2014-01-31
3,3,140092341.0,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Friday,01/31/2014 08:00:00 AM +0000,17:50,CENTRAL,"ARREST, CITED",JEFFERSON ST / POWELL ST,-122.412527,37.808625,"(37.8086250595467, -122.412527239682)",4,2014-01-31
4,4,140092573.0,DRUG/NARCOTIC,POSSESSION OF NARCOTICS PARAPHERNALIA,Friday,01/31/2014 08:00:00 AM +0000,19:20,SOUTHERN,"ARREST, BOOKED",0 Block of GRACE ST,-122.414634,37.775081,"(37.7750814399634, -122.414633686589)",5,2014-01-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30395,30395,130926374.0,PROSTITUTION,INDECENT EXPOSURE - PROSTITUTION RELATED,Friday,11/01/2013 07:00:00 AM +0000,00:15,MISSION,"ARREST, CITED",1300 Block of VERMONT ST,-122.403449,37.753156,"(37.7531563892388, -122.403449353323)",30396,2013-11-01
30396,30396,130965134.0,OTHER OFFENSES,FAILURE TO REGISTER AS SEX OFFENDER,Friday,11/01/2013 07:00:00 AM +0000,00:01,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403675,37.775178,"(37.7751775060199, -122.403675173997)",30397,2013-11-01
30397,30397,136206623.0,LARCENY/THEFT,GRAND THEFT FROM UNLOCKED AUTO,Friday,11/01/2013 07:00:00 AM +0000,19:00,RICHMOND,NONE,CLAY ST / PIERCE ST,-122.437496,37.790291,"(37.7902911486821, -122.437496299842)",30398,2013-11-01
30398,30398,130930193.0,VEHICLE THEFT,STOLEN TRUCK,Friday,11/01/2013 07:00:00 AM +0000,19:00,BAYVIEW,"ARREST, BOOKED",600 Block of AMADOR ST,-122.384593,37.745910,"(37.745909734852, -122.384592828821)",30399,2013-11-01
30399,30399,130930193.0,BURGLARY,"BURGLARY OF STORE, FORCIBLE ENTRY",Friday,11/01/2013 07:00:00 AM +0000,19:00,BAYVIEW,"ARREST, BOOKED",600 Block of AMADOR ST,-122.384593,37.745910,"(37.745909734852, -122.384592828821)",30400,2013-11-01

Solution:

SELECT date orig_date, (SUBSTR(date, 7, 4) || '-' || LEFT(date, 2) || '-' || SUBSTR(date, 4, 2)) new_date
FROM sf_crime_data;

Task 5:

Once you have createt a column in the correct format, use either CAST or :: to convert this to date.

In [13]:
# sqlite version SELECT CAST(b AS INT) + 2 AS alias FROM A

pd.read_sql_query(sql='''
WITH t1 AS 
(SELECT [index] indx, SUBSTR(date,1,INSTR(date,'/')-1) month,
SUBSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), 1, INSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), '/')-1) day,
SUBSTR(SUBSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), INSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), '/')+1, LENGTH(date)-INSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), '/')), 1, INSTR(SUBSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), INSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), '/')+1, LENGTH(date)-INSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), '/')), ' ')-1) year 

FROM sf_crime_data)

SELECT s.*, CAST((t1.year || '-' || t1.month || '-' || t1.day) AS DATE) cdate
FROM t1
JOIN sf_crime_data s
ON t1.indx = s.[index];
''', con=conn)

,index,incidnt_num,category,descript,day_of_week,date,time,pd_district,resolution,address,lon,lat,location,id,cdate
0,0,140099416.0,VEHICLE THEFT,STOLEN AND RECOVERED VEHICLE,Friday,01/31/2014 08:00:00 AM +0000,17:00,INGLESIDE,NONE,0 Block of GARRISON AV,-122.413624,37.709726,"(37.709725805163, -122.413623946206)",1,2014
1,1,140092426.0,ASSAULT,BATTERY,Friday,01/31/2014 08:00:00 AM +0000,17:45,TARAVAL,"ARREST, CITED",100 Block of FONT BL,-122.473706,37.715488,"(37.7154876086057, -122.47370623066)",2,2014
2,2,140092410.0,SUSPICIOUS OCC,SUSPICIOUS OCCURRENCE,Friday,01/31/2014 08:00:00 AM +0000,15:30,PARK,NONE,0 Block of CASTRO ST,-122.435719,37.768689,"(37.7686887134351, -122.435718550322)",3,2014
3,3,140092341.0,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Friday,01/31/2014 08:00:00 AM +0000,17:50,CENTRAL,"ARREST, CITED",JEFFERSON ST / POWELL ST,-122.412527,37.808625,"(37.8086250595467, -122.412527239682)",4,2014
4,4,140092573.0,DRUG/NARCOTIC,POSSESSION OF NARCOTICS PARAPHERNALIA,Friday,01/31/2014 08:00:00 AM +0000,19:20,SOUTHERN,"ARREST, BOOKED",0 Block of GRACE ST,-122.414634,37.775081,"(37.7750814399634, -122.414633686589)",5,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30395,30395,130926374.0,PROSTITUTION,INDECENT EXPOSURE - PROSTITUTION RELATED,Friday,11/01/2013 07:00:00 AM +0000,00:15,MISSION,"ARREST, CITED",1300 Block of VERMONT ST,-122.403449,37.753156,"(37.7531563892388, -122.403449353323)",30396,2013
30396,30396,130965134.0,OTHER OFFENSES,FAILURE TO REGISTER AS SEX OFFENDER,Friday,11/01/2013 07:00:00 AM +0000,00:01,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403675,37.775178,"(37.7751775060199, -122.403675173997)",30397,2013
30397,30397,136206623.0,LARCENY/THEFT,GRAND THEFT FROM UNLOCKED AUTO,Friday,11/01/2013 07:00:00 AM +0000,19:00,RICHMOND,NONE,CLAY ST / PIERCE ST,-122.437496,37.790291,"(37.7902911486821, -122.437496299842)",30398,2013
30398,30398,130930193.0,VEHICLE THEFT,STOLEN TRUCK,Friday,11/01/2013 07:00:00 AM +0000,19:00,BAYVIEW,"ARREST, BOOKED",600 Block of AMADOR ST,-122.384593,37.745910,"(37.745909734852, -122.384592828821)",30399,2013
30399,30399,130930193.0,BURGLARY,"BURGLARY OF STORE, FORCIBLE ENTRY",Friday,11/01/2013 07:00:00 AM +0000,19:00,BAYVIEW,"ARREST, BOOKED",600 Block of AMADOR ST,-122.384593,37.745910,"(37.745909734852, -122.384592828821)",30400,2013

Solution:

SELECT date orig_date, (SUBSTR(date, 7, 4) || '-' || LEFT(date, 2) || '-' || SUBSTR(date, 4, 2))::DATE new_date
FROM sf_crime_data;

In [19]:
# sqlite version SELECT CAST(b AS INT) + 2 AS alias FROM A

pd.read_sql_query(sql='''
WITH t1 AS 
(SELECT [index] indx, SUBSTR(date,1,INSTR(date,'/')-1) month,
SUBSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), 1, INSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), '/')-1) day,
SUBSTR(SUBSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), INSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), '/')+1, LENGTH(date)-INSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), '/')), 1, INSTR(SUBSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), INSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), '/')+1, LENGTH(date)-INSTR(SUBSTR(date, INSTR(date,'/')+1,LENGTH(date) - INSTR(date,'/')), '/')), ' ')-1) year 

FROM sf_crime_data)

SELECT s.*, strftime('%Y-%m-%d',(t1.year || '-' || t1.month || '-' || t1.day)) cdate1,
strftime('%m/%d/%Y', SUBSTR(s.date,1,10)) cdate2
FROM t1
JOIN sf_crime_data s
ON t1.indx = s.[index];
''', con=conn)

,index,incidnt_num,category,descript,day_of_week,date,time,pd_district,resolution,address,lon,lat,location,id,cdate1,cdate2
0,0,140099416.0,VEHICLE THEFT,STOLEN AND RECOVERED VEHICLE,Friday,01/31/2014 08:00:00 AM +0000,17:00,INGLESIDE,NONE,0 Block of GARRISON AV,-122.413624,37.709726,"(37.709725805163, -122.413623946206)",1,2014-01-31,None
1,1,140092426.0,ASSAULT,BATTERY,Friday,01/31/2014 08:00:00 AM +0000,17:45,TARAVAL,"ARREST, CITED",100 Block of FONT BL,-122.473706,37.715488,"(37.7154876086057, -122.47370623066)",2,2014-01-31,None
2,2,140092410.0,SUSPICIOUS OCC,SUSPICIOUS OCCURRENCE,Friday,01/31/2014 08:00:00 AM +0000,15:30,PARK,NONE,0 Block of CASTRO ST,-122.435719,37.768689,"(37.7686887134351, -122.435718550322)",3,2014-01-31,None
3,3,140092341.0,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Friday,01/31/2014 08:00:00 AM +0000,17:50,CENTRAL,"ARREST, CITED",JEFFERSON ST / POWELL ST,-122.412527,37.808625,"(37.8086250595467, -122.412527239682)",4,2014-01-31,None
4,4,140092573.0,DRUG/NARCOTIC,POSSESSION OF NARCOTICS PARAPHERNALIA,Friday,01/31/2014 08:00:00 AM +0000,19:20,SOUTHERN,"ARREST, BOOKED",0 Block of GRACE ST,-122.414634,37.775081,"(37.7750814399634, -122.414633686589)",5,2014-01-31,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30395,30395,130926374.0,PROSTITUTION,INDECENT EXPOSURE - PROSTITUTION RELATED,Friday,11/01/2013 07:00:00 AM +0000,00:15,MISSION,"ARREST, CITED",1300 Block of VERMONT ST,-122.403449,37.753156,"(37.7531563892388, -122.403449353323)",30396,2013-11-01,None
30396,30396,130965134.0,OTHER OFFENSES,FAILURE TO REGISTER AS SEX OFFENDER,Friday,11/01/2013 07:00:00 AM +0000,00:01,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403675,37.775178,"(37.7751775060199, -122.403675173997)",30397,2013-11-01,None
30397,30397,136206623.0,LARCENY/THEFT,GRAND THEFT FROM UNLOCKED AUTO,Friday,11/01/2013 07:00:00 AM +0000,19:00,RICHMOND,NONE,CLAY ST / PIERCE ST,-122.437496,37.790291,"(37.7902911486821, -122.437496299842)",30398,2013-11-01,None
30398,30398,130930193.0,VEHICLE THEFT,STOLEN TRUCK,Friday,11/01/2013 07:00:00 AM +0000,19:00,BAYVIEW,"ARREST, BOOKED",600 Block of AMADOR ST,-122.384593,37.745910,"(37.745909734852, -122.384592828821)",30399,2013-11-01,None
30399,30399,130930193.0,BURGLARY,"BURGLARY OF STORE, FORCIBLE ENTRY",Friday,11/01/2013 07:00:00 AM +0000,19:00,BAYVIEW,"ARREST, BOOKED",600 Block of AMADOR ST,-122.384593,37.745910,"(37.745909734852, -122.384592828821)",30400,2013-11-01,None