In [1]:
import sqlite3
import pandas as pd

In [2]:
pd.options.display.max_columns = None
#pd.options.display.max_rows = None

In [3]:
conn = sqlite3.connect('parch-and-posey.db')

In [4]:
cursor = conn.cursor()
cursor.execute('''
select * from sqlite_master where type = "table";
''')
columns = [col[0] for col in cursor.description]
data = cursor.fetchall()
cursor.close()

In [5]:
pd.DataFrame(data, columns=columns)

,type,name,tbl_name,rootpage,sql
0,table,web_events,web_events,2,"CREATE TABLE web_events (\tid integer,\taccoun..."
1,table,sales_reps,sales_reps,7,"CREATE TABLE sales_reps (\tid integer,\tname b..."
2,table,region,region,222,"CREATE TABLE region (\tid integer,\tname bpchar)"
3,table,orders,orders,223,"CREATE TABLE orders (\tid integer,\taccount_id..."
4,table,accounts,accounts,583,"CREATE TABLE accounts (\tid integer,\tname bpc..."

Quiz 1:

QUIZ QUESTION
Using Derek's example in the previous window, deconstruct the window function alias into its two parts: the alias part and the window function part.

Solution:

Alias part: WINDOW main_window AS

Window function part: (PARTITION BY account_id ORDER BY STRFTIME('%Y-%m',occurred_at))

Task 1:

Now, create and use an alias to shorten the following query (which is different than the one in Derek's previous video) that has multiple window functions. Name the alias account_year_window, which is more descriptive than main_window in the example above.

In [12]:
pd.read_sql_query(sql='''
SELECT id,
       account_id,
       standard_qty,
       STRFTIME('%Y', occurred_at) AS year,
       DENSE_RANK() OVER account_year_window AS dense_rank,
       RANK() OVER account_year_window AS rank,
       SUM(standard_qty) OVER account_year_window AS sum_std_qty,
       COUNT(standard_qty) OVER account_year_window AS count_std_qty,
       AVG(standard_qty) OVER account_year_window AS avg_std_qty,
       MIN(standard_qty) OVER account_year_window AS min_std_qty,
       MAX(standard_qty) OVER account_year_window AS max_std_qty
FROM orders
WINDOW account_year_window AS (PARTITION BY account_id ORDER BY STRFTIME('%Y',occurred_at));
''', con=conn)[:50]

,id,account_id,standard_qty,year,dense_rank,rank,sum_std_qty,count_std_qty,avg_std_qty,min_std_qty,max_std_qty
0,1,1001,123,2015,1,1,1430,5,286.000000,85,526
1,2,1001,190,2015,1,1,1430,5,286.000000,85,526
2,3,1001,85,2015,1,1,1430,5,286.000000,85,526
3,4307,1001,506,2015,1,1,1430,5,286.000000,85,526
4,4308,1001,526,2015,1,1,1430,5,286.000000,85,526
5,4,1001,144,2016,2,6,7896,28,282.000000,85,566
6,5,1001,108,2016,2,6,7896,28,282.000000,85,566
7,6,1001,103,2016,2,6,7896,28,282.000000,85,566
8,7,1001,101,2016,2,6,7896,28,282.000000,85,566
9,8,1001,95,2016,2,6,7896,28,282.000000,85,566
10,9,1001,91,2016,2,6,7896,28,282.000000,85,566
11,10,1001,94,2016,2,6,7896,28,282.000000,85,566
12,11,1001,101,2016,2,6,7896,28,282.000000,85,566
13,12,1001,124,2016,2,6,7896,28,282.000000,85,566
14,13,1001,104,2016,2,6,7896,28,282.000000,85,566
15,14,1001,97,2016,2,6,7896,28,282.000000,85,566
16,15,1001,127,2016,2,6,7896,28,282.000000,85,566
17,16,1001,123,2016,2,6,7896,28,282.000000,85,566
18,4309,1001,566,2016,2,6,7896,28,282.000000,85,566
19,4310,1001,473,2016,2,6,7896,28,282.000000,85,566
20,4311,1001,498,2016,2,6,7896,28,282.000000,85,566
21,4312,1001,497,2016,2,6,7896,28,282.000000,85,566
22,4313,1001,483,2016,2,6,7896,28,282.000000,85,566
23,4314,1001,531,2016,2,6,7896,28,282.000000,85,566
24,4315,1001,457,2016,2,6,7896,28,282.000000,85,566
25,4316,1001,557,2016,2,6,7896,28,282.000000,85,566
26,4317,1001,507,2016,2,6,7896,28,282.000000,85,566
27,4318,1001,485,2016,2,6,7896,28,282.000000,85,566
28,17,1011,527,2016,1,1,527,1,527.000000,527,527
29,18,1021,516,2015,1,1,1496,5,299.200000,0,516
30,19,1021,497,2015,1,1,1496,5,299.200000,0,516
31,20,1021,483,2015,1,1,1496,5,299.200000,0,516
32,4319,1021,0,2015,1,1,1496,5,299.200000,0,516
33,4320,1021,0,2015,1,1,1496,5,299.200000,0,516
34,21,1021,535,2016,2,6,3152,10,315.200000,0,555
35,22,1021,502,2016,2,6,3152,10,315.200000,0,555
36,23,1021,555,2016,2,6,3152,10,315.200000,0,555
37,4321,1021,0,2016,2,6,3152,10,315.200000,0,555
38,4322,1021,64,2016,2,6,3152,10,315.200000,0,555
39,24,1031,1148,2016,1,1,1148,1,1148.000000,1148,1148
40,25,1041,298,2016,1,1,836,5,167.200000,10,307
41,26,1041,307,2016,1,1,836,5,167.200000,10,307
42,27,1041,157,2016,1,1,836,5,167.200000,10,307
43,4323,1041,64,2016,1,1,836,5,167.200000,10,307
44,4324,1041,10,2016,1,1,836,5,167.200000,10,307
45,28,1051,505,2016,1,1,3608,9,400.888889,6,600
46,29,1051,498,2016,1,1,3608,9,400.888889,6,600
47,30,1051,486,2016,1,1,3608,9,400.888889,6,600
48,31,1051,505,2016,1,1,3608,9,400.888889,6,600
49,32,1051,490,2016,1,1,3608,9,400.888889,6,600

Solution:

SELECT id,
       account_id,
       DATE_TRUNC('year',occurred_at) AS year,
       DENSE_RANK() OVER account_year_window AS dense_rank,
       total_amt_usd,
       SUM(total_amt_usd) OVER account_year_window AS sum_total_amt_usd,
       COUNT(total_amt_usd) OVER account_year_window AS count_total_amt_usd,
       AVG(total_amt_usd) OVER account_year_window AS avg_total_amt_usd,
       MIN(total_amt_usd) OVER account_year_window AS min_total_amt_usd,
       MAX(total_amt_usd) OVER account_year_window AS max_total_amt_usd
FROM orders 
WINDOW account_year_window AS (PARTITION BY account_id ORDER BY DATE_TRUNC('year',occurred_at))