In [1]:
import sqlite3
import pandas as pd

In [2]:
pd.options.display.max_columns = None
#pd.options.display.max_rows = None

In [3]:
conn = sqlite3.connect('parch-and-posey.db')

In [4]:
cursor = conn.cursor()
cursor.execute('''
select * from sqlite_master where type = "table";
''')
columns = [col[0] for col in cursor.description]
data = cursor.fetchall()
cursor.close()

In [5]:
pd.DataFrame(data, columns=columns)

,type,name,tbl_name,rootpage,sql
0,table,web_events,web_events,2,"CREATE TABLE web_events (\tid integer,\taccoun..."
1,table,sales_reps,sales_reps,7,"CREATE TABLE sales_reps (\tid integer,\tname b..."
2,table,region,region,222,"CREATE TABLE region (\tid integer,\tname bpchar)"
3,table,orders,orders,223,"CREATE TABLE orders (\tid integer,\taccount_id..."
4,table,accounts,accounts,583,"CREATE TABLE accounts (\tid integer,\tname bpc..."

# SELF JOINs

One of the most common use cases for self JOINs is in cases where two events occurred, one after another. As you may have noticed in the previous video, using inequalities in conjunction with self JOINs is common.

Task 1:

Modify the query from the previous video, which is pre-populated in the SQL Explorer below, to perform the same interval analysis except for the web_events table. Also:

change the interval to 1 day to find those web events that occurred after, but not more than 1 day after, another web event
add a column for the channel variable in both instances of the table in your query
You can find more on the types of INTERVALS (and other date related functionality) in the Postgres documentation here:
https://www.postgresql.org/docs/8.2/functions-datetime.html

SELECT o1.id AS o1_id,
       o1.account_id AS o1_account_id,
       o1.occurred_at AS o1_occurred_at,
       o2.id AS o2_id,
       o2.account_id AS o2_account_id,
       o2.occurred_at AS o2_occurred_at
  FROM orders o1
 LEFT JOIN orders o2
   ON o1.account_id = o2.account_id
  AND o2.occurred_at > o1.occurred_at
  AND o2.occurred_at <= o1.occurred_at + INTERVAL '28 days'
ORDER BY o1.account_id, o1.occurred_at

In [6]:
# sqlite 3 version

pd.read_sql_query(sql = '''
SELECT we1.id AS we_id,
       we1.account_id AS we1_account_id,
       we1.occurred_at AS we1_occurred_at,
       we1.channel AS we1_channel,
       we2.id AS we2_id,
       we2.account_id AS we2_account_id,
       we2.occurred_at AS we2_occurred_at,
       we2.channel AS we2_channel
  FROM web_events we1 
 LEFT JOIN web_events we2
   ON we1.account_id = we2.account_id
  AND we1.occurred_at > we2.occurred_at
  AND we1.occurred_at <= date (we2.occurred_at, '+1 day')
ORDER BY we1.account_id, we2.occurred_at
;
''', con=conn)[:50]

,we_id,we1_account_id,we1_occurred_at,we1_channel,we2_id,we2_account_id,we2_occurred_at,we2_channel
0,2,1001,2015-11-05 03:08:26,direct,NaN,NaN,None,None
1,3,1001,2015-12-04 03:57:24,direct,NaN,NaN,None,None
2,4,1001,2016-01-02 00:55:03,direct,NaN,NaN,None,None
3,5,1001,2016-02-01 19:02:33,direct,NaN,NaN,None,None
4,6,1001,2016-03-02 15:15:22,direct,NaN,NaN,None,None
5,7,1001,2016-04-01 10:58:55,direct,NaN,NaN,None,None
6,9,1001,2016-05-31 20:53:47,direct,NaN,NaN,None,None
7,10,1001,2016-06-30 12:09:45,direct,NaN,NaN,None,None
8,11,1001,2016-07-30 03:06:26,direct,NaN,NaN,None,None
9,12,1001,2016-08-28 06:42:42,direct,NaN,NaN,None,None
10,13,1001,2016-09-26 23:14:59,direct,NaN,NaN,None,None
11,14,1001,2016-10-26 20:21:09,direct,NaN,NaN,None,None
12,15,1001,2016-11-25 22:52:29,direct,NaN,NaN,None,None
13,16,1001,2016-12-24 05:35:14,direct,NaN,NaN,None,None
14,4394,1001,2015-10-06 04:22:11,facebook,NaN,NaN,None,None
15,4395,1001,2015-10-22 05:02:47,organic,NaN,NaN,None,None
16,4398,1001,2015-12-11 08:44:16,direct,NaN,NaN,None,None
17,4399,1001,2016-01-01 15:45:54,adwords,NaN,NaN,None,None
18,4400,1001,2016-01-13 19:31:14,direct,NaN,NaN,None,None
19,4401,1001,2016-02-07 17:44:10,adwords,NaN,NaN,None,None
20,4402,1001,2016-02-27 15:27:22,organic,NaN,NaN,None,None
21,4403,1001,2016-03-17 19:54:58,twitter,NaN,NaN,None,None
22,4404,1001,2016-04-05 03:02:52,organic,NaN,NaN,None,None
23,4405,1001,2016-04-17 16:41:02,organic,NaN,NaN,None,None
24,4406,1001,2016-05-01 14:26:40,direct,NaN,NaN,None,None
25,4407,1001,2016-05-07 02:28:31,banner,NaN,NaN,None,None
26,4408,1001,2016-05-21 16:22:01,organic,NaN,NaN,None,None
27,4409,1001,2016-06-02 04:41:31,facebook,NaN,NaN,None,None
28,4410,1001,2016-06-22 13:48:53,adwords,NaN,NaN,None,None
29,4411,1001,2016-07-12 22:43:02,banner,NaN,NaN,None,None
30,4412,1001,2016-07-26 11:29:09,direct,NaN,NaN,None,None
31,4414,1001,2016-08-12 09:31:22,organic,NaN,NaN,None,None
32,4415,1001,2016-09-01 18:33:56,direct,NaN,NaN,None,None
33,4416,1001,2016-09-11 17:06:53,adwords,NaN,NaN,None,None
34,1,1001,2015-10-06 17:13:58,direct,4394.0,1001.0,2015-10-06 04:22:11,facebook
35,4396,1001,2015-10-22 14:04:20,adwords,4395.0,1001.0,2015-10-22 05:02:47,organic
36,4397,1001,2015-11-05 17:18:54,direct,2.0,1001.0,2015-11-05 03:08:26,direct
37,8,1001,2016-05-01 15:26:44,direct,4406.0,1001.0,2016-05-01 14:26:40,direct
38,4413,1001,2016-07-26 21:08:52,banner,4412.0,1001.0,2016-07-26 11:29:09,direct
39,4418,1011,2016-12-21 05:47:06,facebook,NaN,NaN,None,None
40,17,1011,2016-12-21 10:29:36,direct,4418.0,1011.0,2016-12-21 05:47:06,facebook
41,4417,1011,2016-12-21 16:14:29,adwords,4418.0,1011.0,2016-12-21 05:47:06,facebook
42,4417,1011,2016-12-21 16:14:29,adwords,17.0,1011.0,2016-12-21 10:29:36,direct
43,18,1021,2015-10-12 02:10:54,direct,NaN,NaN,None,None
44,20,1021,2015-12-11 16:28:27,direct,NaN,NaN,None,None
45,21,1021,2016-01-10 09:04:12,direct,NaN,NaN,None,None
46,22,1021,2016-02-09 00:46:47,direct,NaN,NaN,None,None
47,23,1021,2016-03-10 00:11:03,direct,NaN,NaN,None,None
48,4420,1021,2015-10-26 03:14:39,adwords,NaN,NaN,None,None
49,4421,1021,2015-11-11 05:07:17,facebook,NaN,NaN,None,None

Solution:

SELECT we1.id AS we_id,
       we1.account_id AS we1_account_id,
       we1.occurred_at AS we1_occurred_at,
       we1.channel AS we1_channel,
       we2.id AS we2_id,
       we2.account_id AS we2_account_id,
       we2.occurred_at AS we2_occurred_at,
       we2.channel AS we2_channel
  FROM web_events we1 
 LEFT JOIN web_events we2
   ON we1.account_id = we2.account_id
  AND we1.occurred_at > we2.occurred_at
  AND we1.occurred_at <= we2.occurred_at + INTERVAL '1 day'
ORDER BY we1.account_id, we2.occurred_at