NULL. The value is a NULL value.

INTEGER. The value is a signed integer, stored in 1, 2, 3, 4, 6, or 8 bytes depending on the magnitude of the value.

REAL. The value is a floating point value, stored as an 8-byte IEEE floating point number.

TEXT. The value is a text string, stored using the database encoding (UTF-8, UTF-16BE or UTF-16LE).

BLOB. The value is a blob of data, stored exactly as it was input.

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('Simple_db.db')

In [3]:
cursor = conn.cursor()
try:
    cursor.execute('''
DROP TABLE Tab1;
''')
except Exception as e:
    print(e)
cursor.close()

In [4]:
cursor = conn.cursor()
cursor.execute('''
CREATE TABLE Tab1
(id INTEGER PRIMARY KEY,
cislo REAL,
text TEXT);
''')
cursor.close()

In [5]:
cursor = conn.cursor()
cursor.execute('''
SELECT * FROM Tab1;
''')
data = cursor.fetchall()
cursor.close()

In [6]:
data

[]

In [7]:
cursor = conn.cursor()
cursor.execute('''
INSERT INTO Tab1 VALUES (NULL, 1.25, "Ahoj");
''')
cursor.close()

In [8]:
cursor = conn.cursor()
cursor.execute('''
SELECT * FROM Tab1;
''')
data = cursor.fetchall()
cursor.close()

In [9]:
data

[(1, 1.25, 'Ahoj')]