In [ ]:
??? nevím jak funguje pro sqlite3, všude jsou příklady se sqlite3.connect

In [3]:
import pyodbc

#DESKTOP-NO9U58U\SQLEXPRESS

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-NO9U58U\SQLEXPRESS;'
                      'Database=dbMoje;'
                      'Trusted_Connection=yes;')

In [4]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM Moje')

for row in cursor:
    print(row)
    
cursor.close()

('98812753-54BF-4B50-9864-543E2A4E4B6D', datetime.datetime(2020, 7, 19, 10, 45, 12), 'Ahoj')
('52158BEA-E00D-4B0A-81EC-ED43C06DF2E9', datetime.datetime(2020, 7, 23, 0, 0), 'Western Camp')
('FC39A218-4EE6-4B38-B9CD-531A55A27D82', datetime.datetime(2020, 7, 23, 7, 6, 3, 617000), 'Energylandia')
('8D1E0014-A25E-4665-9426-38486FA92E91', datetime.datetime(2020, 7, 23, 7, 6, 24, 303000), 'Energylandia')

In [3]:
cursor = conn.cursor()
cursor.execute('''INSERT INTO Moje(ID,TIME, TEXT) VALUES (NEWID(),GETDATE(),'Energylandia');''')
cursor.close()

In [4]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM Moje')

for row in cursor:
    print(row)
    
cursor.close()

('98812753-54BF-4B50-9864-543E2A4E4B6D', datetime.datetime(2020, 7, 19, 10, 45, 12), 'Ahoj')
('52158BEA-E00D-4B0A-81EC-ED43C06DF2E9', datetime.datetime(2020, 7, 23, 0, 0), 'Western Camp')
('FC39A218-4EE6-4B38-B9CD-531A55A27D82', datetime.datetime(2020, 7, 23, 7, 6, 3, 617000), 'Energylandia')
('8D1E0014-A25E-4665-9426-38486FA92E91', datetime.datetime(2020, 7, 23, 7, 6, 24, 303000), 'Energylandia')
('5556C110-C0DD-48CD-AF34-283E01572062', datetime.datetime(2020, 7, 23, 8, 5, 8, 710000), 'Energylandia')

In [5]:
cursor = conn.cursor()
cursor.execute('''DELETE FROM Moje WHERE ID = '8D1E0014-A25E-4665-9426-38486FA92E91' ''')  
cursor.close()

In [6]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM Moje')

for row in cursor:
    print(row)
    
cursor.close()

('98812753-54BF-4B50-9864-543E2A4E4B6D', datetime.datetime(2020, 7, 19, 10, 45, 12), 'Ahoj')
('52158BEA-E00D-4B0A-81EC-ED43C06DF2E9', datetime.datetime(2020, 7, 23, 0, 0), 'Western Camp')
('FC39A218-4EE6-4B38-B9CD-531A55A27D82', datetime.datetime(2020, 7, 23, 7, 6, 3, 617000), 'Energylandia')
('5556C110-C0DD-48CD-AF34-283E01572062', datetime.datetime(2020, 7, 23, 8, 5, 8, 710000), 'Energylandia')

In [7]:
cursor = conn.cursor()
cursor.execute('''DELETE FROM Moje WHERE TIME >= '2020-07-23 07:30:00' ''')  
cursor.close()

In [8]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM Moje')

for row in cursor:
    print(row)
    
cursor.close()

('98812753-54BF-4B50-9864-543E2A4E4B6D', datetime.datetime(2020, 7, 19, 10, 45, 12), 'Ahoj')
('52158BEA-E00D-4B0A-81EC-ED43C06DF2E9', datetime.datetime(2020, 7, 23, 0, 0), 'Western Camp')
('FC39A218-4EE6-4B38-B9CD-531A55A27D82', datetime.datetime(2020, 7, 23, 7, 6, 3, 617000), 'Energylandia')

In [9]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM Moje')

num_fields = len(cursor.description)
field_names = [i[0] for i in cursor.description]

cursor.close()

In [20]:
field_names

['ID', 'TIME', 'TEXT']

In [7]:
import pandas as pd

In [23]:
cursor = conn.cursor()
sql = "SELECT * FROM Moje"
cursor.execute(sql)

num_fields = len(cursor.description)
field_names = [i[0] for i in cursor.description]

results = cursor.fetchall()
print(results)

cursor.close()

[('98812753-54BF-4B50-9864-543E2A4E4B6D', datetime.datetime(2020, 7, 19, 10, 45, 12), 'Ahoj'), ('52158BEA-E00D-4B0A-81EC-ED43C06DF2E9', datetime.datetime(2020, 7, 23, 0, 0), 'Western Camp'), ('FC39A218-4EE6-4B38-B9CD-531A55A27D82', datetime.datetime(2020, 7, 23, 7, 6, 3, 617000), 'Energylandia'), ('8D1E0014-A25E-4665-9426-38486FA92E91', datetime.datetime(2020, 7, 23, 7, 6, 24, 303000), 'Energylandia')]

In [24]:
results.__class__

list

In [25]:
results[0].__class__

pyodbc.Row

In [11]:
# prevede spatne, je tam jen jeden sloupec s typem pyodbc.Row
df = pd.DataFrame(results)

In [17]:
df

                                                   0
0  [98812753-54BF-4B50-9864-543E2A4E4B6D, 2020-07...
1  [52158BEA-E00D-4B0A-81EC-ED43C06DF2E9, 2020-07...
2  [FC39A218-4EE6-4B38-B9CD-531A55A27D82, 2020-07...
3  [8D1E0014-A25E-4665-9426-38486FA92E91, 2020-07...

In [21]:
df[0][0].__class__

pyodbc.Row

In [27]:
# prevede spravne
df = pd.DataFrame((tuple(t) for t in results))

In [28]:
df

                                      0                       1             2
0  98812753-54BF-4B50-9864-543E2A4E4B6D 2020-07-19 10:45:12.000          Ahoj
1  52158BEA-E00D-4B0A-81EC-ED43C06DF2E9 2020-07-23 00:00:00.000  Western Camp
2  FC39A218-4EE6-4B38-B9CD-531A55A27D82 2020-07-23 07:06:03.617  Energylandia
3  8D1E0014-A25E-4665-9426-38486FA92E91 2020-07-23 07:06:24.303  Energylandia

In [29]:
df.columns = field_names

In [30]:
df

                                     ID                    TIME          TEXT
0  98812753-54BF-4B50-9864-543E2A4E4B6D 2020-07-19 10:45:12.000          Ahoj
1  52158BEA-E00D-4B0A-81EC-ED43C06DF2E9 2020-07-23 00:00:00.000  Western Camp
2  FC39A218-4EE6-4B38-B9CD-531A55A27D82 2020-07-23 07:06:03.617  Energylandia
3  8D1E0014-A25E-4665-9426-38486FA92E91 2020-07-23 07:06:24.303  Energylandia