- Test db
https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

In [1]:
import sqlite3

## Zřízení Connectiony

In [2]:
conn =  sqlite3.connect('testovaci_db.db')

## Vytváření a rušení tabulek

In [3]:
with conn:
    c = conn.cursor()
    c.execute('CREATE TABLE cars (car_id INTEGER primary key not null, maker TEXT not null, type TEXT not null)')

In [4]:
with  conn:
    c.execute('DROP TABLE owners')

OperationalError: no such table: owners

## Výběr dat

In [5]:
with  conn:
    c.execute('select * from cars')
    cars = c.fetchall()
    print(cars)

[]

In [6]:
with  conn:
    c.execute('select * from owners')
    print(c.fetchall())

OperationalError: no such table: owners

## Vložení dat

In [7]:
with conn:
    c.execute("insert into cars values (:car_id, :maker, :type)", {'car_id': 1, 'maker': 'Toyota', 'type': 'Hatchback'})

In [8]:
with conn:
    c.execute("insert into cars values (:car_id, :maker, :type)", {'car_id': 2, 'maker': 'Ford', 'type': 'Pickup'})

In [9]:
with conn:
    c = conn.cursor()
    c.execute('CREATE TABLE owners (owner_id INTEGER primary key not null, first_name TEXT not null, last_name TEXT not null, salary INTEGER, car_id integer)')
    conn.commit()

In [10]:
owners =[
    (1, "Tomáš", "Jedno", 5000, None),
    (2, "Prokop", "Skřín", 1000, None),
    (3, "Naomak", "Mekki", 2000, None),
    (4, "Fuchimi", 'Nakure', 10000, None)
]

In [11]:
with conn:
    c.executemany("insert into owners values (?, ?, ?, ?, ?)", owners)

## Updaty

In [12]:
with conn:
    c.execute('update owners set car_id = 1 where salary between 1500 and 3000')

In [13]:
with conn:
    c.execute('update owners set car_id = 2 where salary > 3001')

## JOINY

In [14]:
with conn:
    c.execute("select o.first_name || ' ' || o.last_name as name, c.maker, c.type from owners o join cars c on o.car_id = c.car_id")
    print(c.fetchall())

[('Tomáš Jedno', 'Ford', 'Pickup'), ('Naomak Mekki', 'Toyota', 'Hatchback'), ('Fuchimi Nakure', 'Ford', 'Pickup')]

<img src="img/joins.jpg">

In [15]:
with conn:
    c.execute("select o.first_name || ' ' || o.last_name as name, c.maker, c.type from owners o left join cars c on o.car_id = c.car_id order by o.last_name asc")
    print(c.fetchall())

[('Tomáš Jedno', 'Ford', 'Pickup'), ('Naomak Mekki', 'Toyota', 'Hatchback'), ('Fuchimi Nakure', 'Ford', 'Pickup'), ('Prokop Skřín', None, None)]

## Agregace

### Count

In [16]:
# count
with conn:
    c.execute("select c.maker, count(c.car_id)  from owners o join cars c on c.car_id=o.car_id group by c.car_id")
    print(c.fetchall())

[('Toyota', 1), ('Ford', 2)]

### Suma

In [17]:
with conn:
    c.execute("select sum(sel.count) from (select c.maker, count(c.car_id) as count from owners o join cars c on c.car_id=o.car_id group by c.car_id) as sel")
    print(c.fetchall())

[(3,)]

###  Average

In [18]:
with conn:
    c.execute("select avg(salary) from owners")
    print(c.fetchall())

[(4500.0,)]

### Minimum a Maximum

In [ ]:
#min
with conn:
    c.execute("select first_name || ' ' || last_name, max(salary) from owners")
    print(c.fetchall())

In [ ]:
#max
with conn:
    c.execute("select first_name || ' ' || last_name, min(salary) from owners")
    print(c.fetchall())