In [1]:
import sqlite3
import traceback

In [2]:
conn = sqlite3.connect(":memory:")

In [3]:
c = conn.cursor()

In [4]:
columns = ('id', 'value', 'type')
print(columns.__class__)

<class 'tuple'>

In [5]:
with conn:
    c.execute("select * from sqlite_master where type = 'table'")
    data = c.fetchall()

print(data)

[]

In [6]:
try:
    with conn:
        c.execute("drop table Moje1 ")
except Exception as e:
    traceback.print_exc()

Traceback (most recent call last):
  File "<ipython-input-6-886f95923722>", line 3, in <module>
    c.execute("drop table Moje1 ")
sqlite3.OperationalError: no such table: Moje1

In [7]:
with conn:
    c.execute("create table Moje1 ({0[0]} integer primary key autoincrement, {0[1]} real, {0[2]} text)".format(columns))

In [8]:
insert = []
insert.append({columns[0]:None, columns[1]:123, columns[2]:'Ahoj'})

In [9]:
with conn:
    c.executemany("insert into  Moje1 values (:{0[0]},:{0[1]},:{0[2]})".format(columns), insert)

In [10]:
with conn:
    c.execute("select * from Moje1")
    data = c.fetchall()

print(data)

[(1, 123.0, 'Ahoj')]