In [1]:
import sqlite3
import traceback

In [2]:
conn = sqlite3.connect(":memory:")

In [3]:
c = conn.cursor()

In [4]:
columns = ('id', 'value', 'type')
print(columns.__class__)

<class 'tuple'>

In [5]:
with conn:
    c.execute("select * from sqlite_master where type = 'table'")
    data = c.fetchall()

print(data)

[]

In [6]:
try:
    with conn:
        c.execute("drop table if exists Moje1 ")
except Exception as e:
    traceback.print_exc()

In [7]:
with conn:
    c.execute("create table Moje1 ({0[0]} integer primary key autoincrement, {0[1]} real, {0[2]} text)".format(columns))

In [8]:
insert = []
insert.append({columns[0]:None, columns[1]:123, columns[2]:'Ahoj'})

In [9]:
with conn:
    c.executemany("insert into  Moje1 values (:{0[0]},:{0[1]},:{0[2]})".format(columns), insert)

In [10]:
with conn:
    c.execute("select * from Moje1")
    data = c.fetchall()

print(data)

[(1, 123.0, 'Ahoj')]

In [11]:
insert = [[12,"a"],[13,'B']]

In [12]:
with conn:
    c.executemany("insert into  Moje1 ({0[1]},{0[2]}) values (:{0[1]},:{0[2]})".format(columns), insert)

In [13]:
with conn:
    c.execute("select * from Moje1")
    data = c.fetchall()

print(data)

[(1, 123.0, 'Ahoj'), (2, 12.0, 'a'), (3, 13.0, 'B')]

In [14]:
insert = [["a"],['B']]

In [15]:
part1 = ''
part2 = ''
ss = [1]
for i, s in enumerate(ss):
    if i == 0:
        part1 += '{{0[{}]}}'.format(str(s))
        part2 += ':{{0[{}]}}'.format(str(s))
    else:
        part1 += ',{{0[{}]}}'.format(str(s))
        part2 += ',:{{0[{}]}}'.format(str(s))
        
sql = 'insert into  Moje1 ({}) values ({})'.format(part1, part2)
print(sql)

insert into  Moje1 ({0[1]}) values (:{0[1]})

In [16]:
with conn:
    c.executemany(sql.format(columns), insert)

In [17]:
with conn:
    c.execute("select * from Moje1")
    data = c.fetchall()

print(data)

[(1, 123.0, 'Ahoj'), (2, 12.0, 'a'), (3, 13.0, 'B'), (4, 'a', None), (5, 'B', None)]

In [18]:
# columns must be real

In [25]:
part1 = ''
part2 = ''
ss = [2]
for i, s in enumerate(ss):
    if i == 0:
        part1 += '{{0[{}]}}'.format(str(s))
        part2 += '?'.format(str(s))
    else:
        part1 += ',{{0[{}]}}'.format(str(s))
        part2 += ',?'.format(str(s))
        
sql = 'insert into  Moje1 ({}) values ({})'.format(part1, part2)
print(sql)

insert into  Moje1 ({0[1]},{0[2]}) values (?,?)

In [26]:
with conn:
    c.executemany(sql.format(columns), insert)

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 2, and there are 1 supplied.

In [27]:
with conn:
    c.execute("select * from Moje1")
    data = c.fetchall()

print(data)

[(1, 123.0, 'Ahoj'), (2, 12.0, 'a'), (3, 13.0, 'B'), (4, 'a', None), (5, 'B', None), (6, 'a', None), (7, 'B', None), (8, None, 'a'), (9, None, 'B')]

In [35]:
insert = [[1,"a"],[2,'B']]

In [36]:
part1 = ''
part2 = ''
ss = [1,2]
for i, s in enumerate(ss):
    if i == 0:
        part1 += '{{0[{}]}}'.format(str(s))
        part2 += '?'.format(str(s))
    else:
        part1 += ',{{0[{}]}}'.format(str(s))
        part2 += ',?'.format(str(s))
        
sql = 'insert into  Moje1 ({}) values ({})'.format(part1, part2)
print(sql)

insert into  Moje1 ({0[1]},{0[2]}) values (?,?)

In [37]:
with conn:
    c.executemany(sql.format(columns), insert)

In [38]:
with conn:
    c.execute("select * from Moje1")
    data = c.fetchall()

print(data)

[(1, 123.0, 'Ahoj'), (2, 12.0, 'a'), (3, 13.0, 'B'), (4, 'a', None), (5, 'B', None), (6, 'a', None), (7, 'B', None), (8, None, 'a'), (9, None, 'B'), (10, 'a', '1'), (11, 'B', '2'), (12, 1.0, 'a'), (13, 2.0, 'B')]

In [57]:
with conn:
        c.execute("drop table if exists Moje1 ")

In [58]:
with conn:
    c.execute("create table Moje1 (id integer , value real, aaa real, bbb text, type text)")

In [59]:
columns

('id', 'value', 'type')

In [63]:
part1 = ''
part2 = ''
ss = [1,2]
for i, s in enumerate(ss):
    if i == 0:
        part1 += '{{0[{}]}}'.format(str(s))
        part2 += '?'.format(str(s))
    else:
        part1 += ',{{0[{}]}}'.format(str(s))
        part2 += ',?'.format(str(s))
        
sql = 'insert into  Moje1 ({}) values ({})'.format(part1, part2)
print(sql)

insert into  Moje1 ({0[1]},{0[2]}) values (?,?)

In [64]:
with conn:
    c.executemany(sql.format(columns), insert)

In [65]:
with conn:
    c.execute("select * from Moje1")
    data = c.fetchall()

print(data)

[(1, None, None, None, 'a'), (2, None, None, None, 'B'), (None, 1.0, None, None, 'a'), (None, 2.0, None, None, 'B')]