In [1]:
import sqlite3

In [2]:
conn= sqlite3.connect(":memory:")
c = conn.cursor()

In [3]:
with conn:
    c.execute("create table moje1 (id integer primary key autoincrement, value real, type text)")

In [4]:
with conn:
    c.execute("insert into moje1 (id , value, type) values (null, 100, 'ahoj')")

In [5]:
with conn:
    c.execute("insert into moje1 values (:id, :value, :type)", (None, 200, 'čus'))

In [6]:
with conn:
    c.execute("insert into moje1 values (:id, :value, :type)", {'id':None, 'value':300, 'type':'čus2'})

In [7]:
with conn:
    c.execute("insert into moje1 values (?, ?, ?)", (None, 200, 'čus'))

In [8]:
with conn:
    # nejde
    #c.execute("insert into moje1 values (?, ?, ?)", {'id':None, 'value':300, 'type':'čus2'})
    pass

In [9]:
with conn:
    c.execute("select * from sqlite_master where type = 'table'")
    data = c.fetchall()
    print(data)

[('table', 'moje1', 'moje1', 2, 'CREATE TABLE moje1 (id integer primary key autoincrement, value real, type text)'), ('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)')]

In [10]:
data = []
data.append((None,400,'Čus3'))
data.append((None,400.5,'Čus4'))

In [11]:
with conn:
    c.executemany("insert into moje1 values (?,?,?)", data)

In [12]:
with conn:
    c.executemany("insert into moje1 values (:id, :value, :type)", data)

In [13]:
data = []
data.append({'id':None, 'value':300, 'type':'čus2'})
data.append({'id':None, 'value':300, 'type':'čus2'})

In [14]:
with conn:
    c.executemany("insert into moje1 values (:id, :value, :type)", data)

In [15]:
with conn:
    # toto nejde
    #c.executemany("insert into moje1 values (?,?,?)", data)
    pass

In [16]:
with conn:
    c.execute("select * from moje1")
    data = c.fetchall()
    print(data)

[(1, 100.0, 'ahoj'), (2, 200.0, 'čus'), (3, 300.0, 'čus2'), (4, 200.0, 'čus'), (5, 400.0, 'Čus3'), (6, 400.5, 'Čus4'), (7, 400.0, 'Čus3'), (8, 400.5, 'Čus4'), (9, 300.0, 'čus2'), (10, 300.0, 'čus2')]