In [29]:
import sqlite3

In [30]:
conn = sqlite3.connect(':memory:')
#conn = sqlite3.connect('aaa.db')

In [31]:
c = conn.cursor()

In [32]:
with conn:
    c.execute('select * from sqlite_master where type = "table"')
    data = c.fetchall()
    print(data)

[]

In [79]:
with conn:
    c.execute('drop table Ahoj')
    data = c.fetchall()
    print(data)

[]

In [80]:
with conn:
    c.execute('create table Ahoj (id Integer PRIMARY KEY AutoIncrement, value REAL, car Text)')
    data = c.fetchall()
    print(data)

[]

In [81]:
with conn:
    c.execute('insert into Ahoj (id, value, car) values (Null, 1000, "New1")')
    data = c.fetchall()
    print(data)

[]

In [82]:
with conn:
    c.execute('insert into Ahoj (id, value, car) values (Null, 2000, "New2")')
    data = c.fetchall()
    print(data)

[]

In [83]:
with conn:
    c.execute('insert into Ahoj (id, value, car) values (Null, 3000, "New3")')
    data = c.fetchall()
    print(data)

[]

In [84]:
with conn:
    c.execute('select * from Ahoj')
    data = c.fetchall()
    print(data)

[(1, 1000.0, 'New1'), (2, 2000.0, 'New2'), (3, 3000.0, 'New3')]

In [85]:
with conn:
    c.execute('update Ahoj set car = "Moje0" where value between 1001 and 2999')
    data = c.fetchall()
    print(data)

[]

In [86]:
with conn:
    c.execute('select * from Ahoj')
    data = c.fetchall()
    print(data)

[(1, 1000.0, 'New1'), (2, 2000.0, 'Moje0'), (3, 3000.0, 'New3')]

In [87]:
with conn:
    c.execute("insert into Ahoj values (:id, :value, :car)", {'id': None, 'value': 4000, 'car': 'New4'})

In [88]:
with conn:
    c.execute('select * from Ahoj')
    data = c.fetchall()
    print(data)

[(1, 1000.0, 'New1'), (2, 2000.0, 'Moje0'), (3, 3000.0, 'New3'), (4, 4000.0, 'New4')]

In [89]:
cars =[
    (None, 5000, 'Moje1'),
    (None, 6000, 'Moje2'),
    (None, 7000, 'Moje3'),
    (None, 10000, 'Moje4')
]

In [90]:
with conn:
    c.executemany("insert into Ahoj values (?, ?, ?)", cars)

In [91]:
with conn:
    c.execute('select * from Ahoj')
    data = c.fetchall()
    print(data)

[(1, 1000.0, 'New1'), (2, 2000.0, 'Moje0'), (3, 3000.0, 'New3'), (4, 4000.0, 'New4'), (5, 5000.0, 'Moje1'), (6, 6000.0, 'Moje2'), (7, 7000.0, 'Moje3'), (8, 10000.0, 'Moje4')]

In [92]:
with conn:
    c.execute('select * from Ahoj')
    desc = c.description
    columns = [d[0] for d in desc]
    data = c.fetchall()
    print(columns)
    print(data)

['id', 'value', 'car']
[(1, 1000.0, 'New1'), (2, 2000.0, 'Moje0'), (3, 3000.0, 'New3'), (4, 4000.0, 'New4'), (5, 5000.0, 'Moje1'), (6, 6000.0, 'Moje2'), (7, 7000.0, 'Moje3'), (8, 10000.0, 'Moje4')]

In [93]:
import pandas as pd

In [94]:
df = pd.DataFrame(data, columns = columns)

In [95]:
df

   id    value    car
0   1   1000.0   New1
1   2   2000.0  Moje0
2   3   3000.0   New3
3   4   4000.0   New4
4   5   5000.0  Moje1
5   6   6000.0  Moje2
6   7   7000.0  Moje3
7   8  10000.0  Moje4