In [1]:
import pyodbc

#DESKTOP-NO9U58U\SQLEXPRESS

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-G1G1GTD\SQLEXPRESS;'
                      'Database=dbMoje;'
                      'Trusted_Connection=yes;')

In [2]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM [Table_1]')

for row in cursor:
    print(row)
    
cursor.close()

('Moje1     ', 1.0)
('Moje2     ', None)
('Moje3     ', 12.5)

In [3]:
'''cursor.select('SELECT * FROM [Table_1]')
single_row = dict(zip(zip(*cursor.description)[0], cursor.fetchone()))
multiple_rows = [dict(zip(zip(*cursor.description)[0], row)) for row in cursor.fetchall()]
'''

"cursor.select('SELECT * FROM [Table_1]')\nsingle_row = dict(zip(zip(*cursor.description)[0], cursor.fetchone()))\nmultiple_rows = [dict(zip(zip(*cursor.description)[0], row)) for row in cursor.fetchall()]\n"

In [4]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM [Table_1]')

data = cursor.fetchone()
while data:
    print(dict(zip([column[0] for column in cursor.description], data)))
    data = cursor.fetchone()
    
cursor.close()

{'Column1': 'Moje1     ', 'COlumn2': 1.0}
{'Column1': 'Moje2     ', 'COlumn2': None}
{'Column1': 'Moje3     ', 'COlumn2': 12.5}

In [11]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM [Table_1]')

data = cursor.fetchone()
while data:
    print(dict(zip(list(zip(*cursor.description))[0], data)))
    data = cursor.fetchone()
    
cursor.close()

{'Column1': 'Moje1     ', 'COlumn2': 1.0}
{'Column1': 'Moje2     ', 'COlumn2': None}
{'Column1': 'Moje3     ', 'COlumn2': 12.5}

In [8]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM [Table_1]')

multiple_rows = [dict(zip(list(zip(*cursor.description))[0], row)) for row in cursor.fetchall()]
print(multiple_rows)

[{'Column1': 'Moje1     ', 'COlumn2': 1.0}, {'Column1': 'Moje2     ', 'COlumn2': None}, {'Column1': 'Moje3     ', 'COlumn2': 12.5}]

In [9]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM [Table_1]')

print(list(zip(*cursor.description))[0])

('Column1', 'COlumn2')

In [25]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM [Table_1]')

print(list(zip(*cursor.description)))

[('Column1', 'COlumn2'), (<class 'str'>, <class 'float'>), (None, None), (10, 24), (10, 24), (0, 0), (True, True)]

In [18]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM [Table_1]')

print(list(zip(cursor.description))[0])

(('Column1', <class 'str'>, None, 10, 10, 0, True),)

In [24]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM [Table_1]')

print(cursor.description[0])

('Column1', <class 'str'>, None, 10, 10, 0, True)