In [1]:
import pandas as pd
from sqlalchemy import create_engine
import urllib

In [2]:
quoted = urllib.parse.quote_plus("Driver={SQL Server};Server=DESKTOP-NO9U58U\SQLEXPRESS;Database=dbMoje;Trusted_Connection=yes;")
engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))
df = pd.read_sql_table(con=engine, table_name = "Moje")
df

                                     ID                    TIME          TEXT
0  98812753-54BF-4B50-9864-543E2A4E4B6D 2020-07-19 10:45:12.000          Ahoj
1  52158BEA-E00D-4B0A-81EC-ED43C06DF2E9 2020-07-23 00:00:00.000  Western Camp
2  FC39A218-4EE6-4B38-B9CD-531A55A27D82 2020-07-23 07:06:03.617  Energylandia
3  8D1E0014-A25E-4665-9426-38486FA92E91 2020-07-23 07:06:24.303  Energylandia

In [6]:
pd.read_sql_query(con=engine, sql = "SELECT * FROM Moje WHERE TIME > '2020-07-23 06:15'")

                                     ID                    TIME          TEXT
0  FC39A218-4EE6-4B38-B9CD-531A55A27D82 2020-07-23 07:06:03.617  Energylandia
1  8D1E0014-A25E-4665-9426-38486FA92E91 2020-07-23 07:06:24.303  Energylandia

In [7]:
pd.read_sql_query(con=engine, sql = ''' SELECT * FROM Moje WHERE "TIME" > '2020-07-23 06:15' ''')

                                     ID                    TIME          TEXT
0  FC39A218-4EE6-4B38-B9CD-531A55A27D82 2020-07-23 07:06:03.617  Energylandia
1  8D1E0014-A25E-4665-9426-38486FA92E91 2020-07-23 07:06:24.303  Energylandia

In [7]:
pd.read_sql_query(con=engine, sql = "INSERT INTO Moje(ID,TIME, TEXT) VALUES (NEWID(),'2020-07-23 00:00:00','Western Camp');")

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [8]:
pd.read_sql_query(con=engine, sql = "SELECT * FROM Moje")

                                     ID                TIME          TEXT
0  98812753-54BF-4B50-9864-543E2A4E4B6D 2020-07-19 10:45:12          Ahoj
1  52158BEA-E00D-4B0A-81EC-ED43C06DF2E9 2020-07-23 00:00:00  Western Camp

In [10]:
pd.read_sql_query(con=engine, sql = "INSERT INTO Moje(ID,TIME, TEXT) VALUES (NEWID(),GETDATE(),'Energylandia');SELECT * FROM Moje;")

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [11]:
pd.read_sql_query(con=engine, sql = "SELECT * FROM Moje")

                                     ID                    TIME          TEXT
0  98812753-54BF-4B50-9864-543E2A4E4B6D 2020-07-19 10:45:12.000          Ahoj
1  52158BEA-E00D-4B0A-81EC-ED43C06DF2E9 2020-07-23 00:00:00.000  Western Camp
2  FC39A218-4EE6-4B38-B9CD-531A55A27D82 2020-07-23 07:06:03.617  Energylandia
3  8D1E0014-A25E-4665-9426-38486FA92E91 2020-07-23 07:06:24.303  Energylandia

In [8]:
#DELETE FROM Customers WHERE CustomerName='Alfreds Futterkiste';
pd.read_sql_query(con=engine, sql = '''DELETE FROM Moje WHERE ID = '8D1E0014-A25E-4665-9426-38486FA92E91' ''')

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [9]:
pd.read_sql_query(con=engine, sql = "SELECT * FROM Moje")

                                     ID                    TIME          TEXT
0  98812753-54BF-4B50-9864-543E2A4E4B6D 2020-07-19 10:45:12.000          Ahoj
1  52158BEA-E00D-4B0A-81EC-ED43C06DF2E9 2020-07-23 00:00:00.000  Western Camp
2  FC39A218-4EE6-4B38-B9CD-531A55A27D82 2020-07-23 07:06:03.617  Energylandia