# example from https://dev.mysql.com/doc/connector-python/en/connector-python-example-cursor-transaction.html

from __future__ import print_function
from datetime import date, datetime, timedelta
import mysql.connector

cnx = mysql.connector.connect(user='scott', database='employees')
cursor = cnx.cursor()

tomorrow = datetime.now().date() + timedelta(days=1)

add_employee = ("INSERT INTO employees "
               "(first_name, last_name, hire_date, gender, birth_date) "
               "VALUES (%s, %s, %s, %s, %s)")
add_salary = ("INSERT INTO salaries "
              "(emp_no, salary, from_date, to_date) "
              "VALUES (%(emp_no)s, %(salary)s, %(from_date)s, %(to_date)s)")

data_employee = ('Geert', 'Vanderkelen', tomorrow, 'M', date(1977, 6, 14))

# Insert new employee
cursor.execute(add_employee, data_employee)
emp_no = cursor.lastrowid

# Insert salary information
data_salary = {
  'emp_no': emp_no,
  'salary': 50000,
  'from_date': tomorrow,
  'to_date': date(9999, 1, 1),
}
cursor.execute(add_salary, data_salary)

# Make sure data is committed to the database
cnx.commit()

cursor.close()
cnx.close()

In [1]:
import MySQLdb

In [2]:
conn = MySQLdb.connect(host = 'localhost', user = 'root', passwd = 'admin')

In [10]:
c = conn.cursor()

In [11]:
c.execute('use moje')

0

In [12]:
c.execute('show tables')
data = c.fetchall()
print(data)

()

In [15]:
c.execute('''DROP TABLE moje1 ;''')
data = c.fetchall()
print(data)

()

In [16]:
c.execute('''CREATE TABLE moje1 (
    id int NOT NULL AUTO_INCREMENT,
    value real NOT NULL,
    text varchar(255) NOT NULL,
    PRIMARY KEY (id)
);''')
data = c.fetchall()
print(data)

()

In [24]:
c.execute('''INSERT INTO moje1 VALUES (%(id)s, %(value)s, %(text)s);''', {'id':None, 'value':12.5, 'text':'Ahoj'})
data = c.fetchall()
print(data)

()

In [25]:
c.execute('''SELECT * FROM moje1 ;''')
data = c.fetchall()
print(data)

((1, 12.5, 'Ahoj'),)