In [35]:
import sqlite3

In [36]:
conn = sqlite3.connect('Simple_db.db')

In [37]:
cursor = conn.cursor()

In [38]:
#cursor.execute(''' SELECT * FROM R r ''')
cursor.execute(''' SELECT * FROM R r WHERE r.A2 <= 'v5' ''')

In [39]:
columns = [c[0] for c in cursor.description]

In [40]:
data = cursor.fetchall()

In [41]:
conn.close()

In [42]:
columns

['A1', 'A2', 'A3']

In [43]:
data

[('v1', 'v2', 'v3'), ('v4', 'v5', 'v6')]

In [44]:
data_dict = {}
for i, row in enumerate(data):
    #print(i, row)
    data_dict[i] = dict(zip(columns, row))

In [45]:
data_dict

{0: {'A1': 'v1', 'A2': 'v2', 'A3': 'v3'},
 1: {'A1': 'v4', 'A2': 'v5', 'A3': 'v6'}}

In [47]:
data_dict[0]['A1']

'v1'

In [52]:
for key in data_dict:
    print(key)
    for col in data_dict[key]:
        print(key, col, data_dict[key][col])

0
0 A1 v1
0 A2 v2
0 A3 v3
1
1 A1 v4
1 A2 v5
1 A3 v6