In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("Simple_db.db")

In [3]:
cursor = conn.cursor()

In [4]:
def delete_db():
    cursor.execute("DROP TABLE R;")
    cursor.execute("DROP TABLE S;")
    cursor.execute("DROP TABLE T;")
    cursor.execute("DROP TABLE U;")
    cursor.execute("DROP TABLE V;")
    conn.commit()

In [5]:
delete_db()

OperationalError: no such table: R

In [6]:
def create_db():
    cursor.execute("CREATE TABLE R (A1 char(3), A2 char(3), A3 char(3));")
    cursor.execute("CREATE TABLE S (A1 char(3), A2 char(3), A3 char(3));")
    cursor.execute("CREATE TABLE T (B1 char(3), B2 char(3), B3 char(3));")
    cursor.execute("CREATE TABLE U (C1 char(3), C2 char(3));")
    cursor.execute("CREATE TABLE V (D1 char(3), A2 char(3));")
    conn.commit()

In [7]:
create_db()

In [8]:
def insert_db():
    cursor.execute("INSERT INTO R (A1, A2, A3) VALUES ('v1','v2','v3');")
    cursor.execute("INSERT INTO R (A1, A2, A3) VALUES ('v4','v5','v6');")
    cursor.execute("INSERT INTO S (A1, A2, A3) VALUES ('v7','v8','v9');")
    cursor.execute("INSERT INTO S (A1, A2, A3) VALUES ('v1','v2','v3');")
    cursor.execute("INSERT INTO T (B1, B2, B3) VALUES ('v10','v11','v12');")
    cursor.execute("INSERT INTO T (B1, B2, B3) VALUES ('v13','v14','v15');")
    cursor.execute("INSERT INTO U (C1, C2) VALUES ('v5','v11');")
    cursor.execute("INSERT INTO U (C1, C2) VALUES ('v8','v12');")
    cursor.execute("INSERT INTO V (D1, A2) VALUES ('v16','v2');")
    cursor.execute("INSERT INTO V (D1, A2) VALUES ('v17','v3');")
    conn.commit()

In [9]:
insert_db()

In [10]:
conn.close()