In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('moje.db')

In [3]:
df = pd.DataFrame({'Column 1':[1,2,3,4,5,6], 'Column 2':['a','b','c','č','d','e']})

In [4]:
df

   Column 1 Column 2
0         1        a
1         2        b
2         3        c
3         4        č
4         5        d
5         6        e

In [5]:
df.to_sql(name='df1', con=conn, if_exists='replace')

c:\program files\python38\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [6]:
df1 = pd.read_sql_query(sql='select * from df1', con=conn)

In [7]:
df1.set_index('index', inplace=True)

In [8]:
df1

       Column 1 Column 2
index
0             1        a
1             2        b
2             3        c
3             4        č
4             5        d
5             6        e